[2020-05-27 11:48] cschwan opened #1 "Make lhapdf crate separate"
The `lhapdf` crate is a dependency for `lhapdf_cli`, but it should be a separate crate and not a member of this workspace.

[2020-05-27 11:50] cschwan opened #2 "Implement theory uncertainties"
The subcommand `convolute` of `pineappl` should print theory uncertainties calculated from a 3-, 7- and maybe a 9-point scale variation.

[2020-05-27 11:53] cschwan opened #3 "Show size of each contribution/correction"
`pineappl` needs a new subcommand that, for each bins, list the size for each order.

[2020-05-27 11:55] cschwan opened #4 "Add switches in convolute for pineappl to select orders"
The subcommand `convolute` in `pineappl` needs a switch to select/deselect orders that contribute to the convolution.

[2020-05-27 11:56] cschwan opened #5 "Add new subcommand showing the size of each initial-state"
The program `pineappl` needs a new subcommand showing the size of each initial-state for each bin.

[2020-05-27 11:59] cschwan opened #6 "Add new subcommand to read/write/add metadata"
The program `pineappl` needs new subcommands to read/write/add metadata:

- cuts
- description of the content
- link to the arxiv paper
- link to the experimental data on hepforge
- parameters
- run card
- generator information
- units: pb, fb, ..., MeV, GeV, ...
- centre-of-mass energy
- labels of the observables, latex-compatible labels, ...
- grid author/person in charge

[2020-05-27 12:02] cschwan opened #7 "Add constant subgrid"
`PineAPPL` needs a new grid type which is able to store `(x1,x2,Q^2)`-independent corrections, for instance to convert NNLO C factors into subgrids. These subgrids can then merged with the NLO grids, 'upgrading' them to NNLO precision.

[2020-05-27 12:05] cschwan opened #8 "Get a Zenodo DOI"
Get a digital object identifier from https://zenodo.org/ and add citation information.

[2020-05-27 12:09] cschwan opened #9 "Add CI and more bling"
We need continuous integration and badges for crates.io.

[2020-05-27 12:12] cschwan opened #10 "Integrate with mg5_aMC"
To use PineAPPL together with `mg5_aMC` we should add a HEPTool which install both Rust and PineAPPL.

[2020-05-27 13:09] cschwan commented on #1
Fixed in commit da18d30924e89242587e06d24af9006a34a040ba. The new crate is now available at https://crates.io/crates/lhapdf.

[2020-05-27 13:09] #1 closed

[2020-05-27 13:21] cschwan opened #11 "Improve convolution time"
The subcommand `convolute` of `pineappl` needs roughly 8.5 seconds on `cigno` for the convolution of `CMSDY2D11` with a PDF set. Roughly two thirds of the time is spent loading the grid (about 800 MB large), but the remainder is spent convoluting. The latter should be optimized by caching the luminosity function.

[2020-05-27 13:26] cschwan opened #12 "Decrease grid file size"
The grids that are currently produced are rather large (CMSDY2D11 is 800 MB large), but this can be optimized using several strategies:

- many of out grids have basically a static scale, so that we should be able to remove the interpolation in Q2,
- inside the non-zero Q2 grids many bins are probably empty, which can be optimized when writing to disk using a simple compression algorithm.

[2020-05-27 18:34] cschwan opened #13 "Add subcommand to calculate PDF uncertainties"
We need separate command to calculate PDF uncertainties for (possibly multiple) PDF sets.

[2020-05-29 17:37] cschwan opened #14 "Integrate with apfelcomb"
Write an implementation in `apfelcomb` to PineAPPL and find out if `Grid::convolute` is sufficient to do this or if any other methods are needed.

[2020-05-30 15:07] cschwan commented on #2
Implemented in commits 47f8e5b899bf6caafaa1cc5734b624a0c8745784 and 030b734ae346a4f4bf1a1d650989236b4922c5d6.

[2020-05-30 15:07] #2 closed

[2020-06-05 15:02] cschwan commented on #11
Commit ee6135742758f2e5cc30f8722f1a1e85a320b36f improves the convolution time by roughly 20%.

[2020-06-05 15:03] cschwan commented on #3
Implemented in commit 3322238a4656ffe862692b352efd23aa582436da.

[2020-06-05 15:03] #3 closed

[2020-06-06 11:02] cschwan commented on #5
Implemented in commit 3c7a9b0bd68173510f08658aec96a119660f0459 with the subcommand `channels`.

[2020-06-06 11:02] #5 closed

[2020-06-06 16:08] cschwan commented on #4
Implemented in commit 4c310026f2bbdca6ea23e500a5dcc854e77aa969.

[2020-06-06 16:08] #4 closed

[2020-06-06 18:09] cschwan commented on #12
A simple strategy is to compress the grids. I've tried the following compression algorithms:

0. without compression the file size is 840 MB,
1. `lzop --fast`: 139 MB, `lzop --best`: 135 MB,
2. `lz4 --fast`: 137 MB, `lz4 --best`: 133 MB,
3. `gzip --fast`: 133 MB, `gzip --best`: 130 MB,
4. `bzip2 --fast`: 127 MB, `bzip2 --best`: 126 MB,
5. `7z a -t7z -mx=1`: 127 MB, `7z a -t7z -mx=9`: 125 MB,
6. `l

[2020-06-06 20:39] cschwan commented on #12
Commit 1f4df9985811188b8eb03b4ac5a9e4cee6debdfd implements reading from an LZ4 compressed stream, using the `lz-fear` crate. The decompression penalty is roughly 0.5 seconds for the usecase shown above, which is what the tests predicted. If we decide the that the grids are too large, we can simply compress them, if not we leave them. PineAPPL can read both now.

[2020-06-06 20:47] cschwan opened #15 "Add subcommand to change the central scale choice"
Since we have the log(muR) and log(muF) dependent grids we can not only calculate theory uncertainties, but also change the central scale choice.

[2020-06-07 08:34] cschwan opened #16 "Add subcommand for fully differential output"
We need a subcommand that convolutes the grid with a PDF, but is differential in bin, lumi, and order.

[2020-06-07 08:41] cschwan opened #17 "Add APPLgrid importer"
We need a subcommand in `pineappl` which is able to convert APPLgrids into PineAPPL grids.

[2020-06-07 08:53] cschwan commented on #8
Relevant information: https://guides.github.com/activities/citable-code/

[2020-06-07 11:49] cschwan commented on #8
Added the zenodo webhook, now we need a release!

[2020-06-07 20:09] cschwan commented on #11
Commit fd8f1ba68287c11640c29349e56c2e99a41723ea cuts down the time to load the file, but changes the file format.

[2020-06-08 14:40] cschwan commented on #9
Commits 2fe1b99d287f45b64b8f1c0c8c3402a1f18517bd and 6333d5beb72e81bbe926635827ae0b8c68a12e7a add continuous integration and commit 6c067510e2eccbf5ba6f54ea564daa46c6e584ad adds the badge to the README.

[2020-06-08 18:26] cschwan commented on #9
Remaining:

- [ ] Code coverage
- [ ] crates.io shield
- [ ] docs.rs shield
- [ ] DOI shield (issue #8)

[2020-06-09 07:57] cschwan opened #18 "Ensure backwards compatibility"
Changing structs results in different file format (implicitly defined through [serde](https://serde.rs) and [bincode](https://github.com/servo/bincode)). As a result, loading previously generated grids with the changed version of PineAPPL won't work. Since grid generation is a very costly operation, this is not desirable.

To avoid this and allow changes in structs we should adopt a strategy that

[2020-06-09 12:06] cschwan commented on #18
A quick check shows the method in my previous comment works, however one must not use the attribute `#[serde(untagged)]`, because in this case bincode can't infer the type of the `enum`.

Commit 4e6b74029501ce38346db6526805ddc4fe541488 already takes care of everything in `Subgrid`, the struct itself. It doesn't cover possible changes in `Grid`, however.

[2020-06-11 13:19] cschwan opened #19 "Add subcommand that shows differences between two grids"

[2020-06-11 15:56] cschwan commented on #18
Commit c5db2a69fcc027d049024678ecf682951560ec31 adds the possibility to add additional members to `Grid`, which should fix the issue.

[2020-06-11 15:56] #18 closed

[2020-06-11 17:49] cschwan opened #20 "Update READMEs"
All four READMEs should be updated.

[2020-06-11 17:50] cschwan commented on #8
Added in commit ad5648dda1ae71384469aa3247642600f34589c5.

[2020-06-11 17:50] #8 closed

[2020-06-15 14:23] cschwan opened #21 "PineAPPL needs a logo"

[2020-06-17 08:28] cschwan opened #22 "pineappl_capi needs a buildsystem"
PineAPPL needs a build system that installs the header, the shared library, and the pkgconfig file telling other build systems where to find the files.

[2020-06-17 09:19] cschwan opened #23 "Add switch to choose between different subgrids"
Right now we have two subgrids, which are `LagrangeSubgrid` and `NtupleSubgrid`, and by default `LagrangeSubgrid` is chosen. We should let the user decide this.

[2020-06-17 09:29] cschwan opened #24 "Implement fully dynamic scale in LagrangeSubgrid"
Remove the following `todo!();` by resizing the grid properly:

https://github.com/N3PDF/pineappl/blob/026421a372cef058656887ecca3765141cc4c746/pineappl/src/lagrange_subgrid.rs#L198-L200

[2020-06-17 10:31] cschwan opened #25 "Add fastNLO importer"
Similar to issue #17.

[2020-06-19 06:15] cschwan commented on #22
[`cargo-c`](https://github.com/lu-zero/cargo-c) might be useful for this case.

[2020-06-19 07:43] cschwan commented on #22
`cargo-c` does indeed everything we need. See the `pineappl_capi`'s README for instructions how to use it.

[2020-06-19 07:43] #22 closed

[2020-06-19 07:44] cschwan commented on #20
Fixed in commit dd596e01b670a702f4bd2f87b5e29a7da55c6d14.

[2020-06-19 07:44] #20 closed

[2020-06-19 15:29] cschwan opened #26 "Improve the output of the PineAPPL CLI"
When using `pineappl` it is not clear what the meaning of each column in the output is.

[2020-06-21 18:32] cschwan commented on #9
Commit 1bc2498b0cb5b5d78a2fcaf9d5500cde86c1e63c adds a code coverage report.

[2020-06-21 18:32] #9 closed

[2020-06-24 21:40] cschwan commented on #24
Implemented in commit e410dfa7d2bf97f0a35fea41c5081b5f18fbab74.

[2020-06-24 21:40] #24 closed

[2020-06-29 12:49] cschwan opened #27 "Fix installation directory of pineappl_cli"
`cargo-c` installs the header at `${includedir}/pineappl_capi/pineappl_capi.h`, but we need it at `${includedir}/pineappl_capi.h`

[2020-06-29 14:32] cschwan commented on #27
The header is being installed into the subdirectory, but the `.pc` file sets `Cflags` correctly. Something must've been wrong with my configuration.

[2020-06-29 14:32] #27 closed

[2020-07-04 07:01] cschwan commented on #13
Implemented in commit 4b4b2869641cb5ccaec87e0ec950c6323030137e.

[2020-07-04 07:01] #13 closed

[2020-07-07 09:27] cschwan opened #28 "Fix unnecessary GridMergeError"
Remove the artificial restriction of https://github.com/N3PDF/pineappl/blob/2981e2d3b0df55d100378e2eced33a28a7577d9a/pineappl/src/grid.rs#L544-L548.

[2020-07-07 10:32] cschwan opened #29 "Improve error messages"
Whenever the methods of the crate `pineappl` return an error the error messages are not helpful.

[2020-07-07 16:16] cschwan commented on #29
Use [thiserror](https://crates.io/crates/thiserror) and [anyhow](https://crates.io/crates/anyhow).

[2020-07-08 14:30] cschwan commented on #11
For a simple (?) speedup we can use mult threading to perform different convolutions in parallel.

[2020-07-11 09:45] cschwan commented on #29
Commit 0492b7e043a2eb37089ff5a56622f04440fe96dd should improve the situation.

[2020-07-11 16:15] cschwan commented on #23
Implemented in commit af62e54273555a1c4697024b849c9193a069a8cc.

[2020-07-11 16:15] #23 closed

[2020-07-17 08:15] cschwan commented on #26
Commit 8a9de85afd785ed88a9d75c20b41810abbabadab adds table headers and improves the alignment.

[2020-07-17 11:09] cschwan commented on #26
Commit 8874cfc1411e706a4f6b3928ba605da0ff742dfc prints the bin widths.

[2020-07-19 10:25] cschwan commented on #11
Commit eadba9e1993810500690ac8ff0c85a6b04850e0b uses [rayon](https://docs.rs/rayon) to speed up the calculation of PDF uncertainties in `pineappl`. The parameter `--threads` can be used to select the number of threads.

[2020-07-20 08:18] #26 closed

[2020-07-25 18:32] cschwan commented on #11
Commits 03d2d2337841ef4b6b9a275bd1ea8e50a6ded16b and 22572736a28ee650cb7398559ce2b46c4b1add05 improve the performance of `CMS_Z_13TEV` by roughly 70%.

[2020-07-27 20:26] cschwan commented on #11
Commit f71e29467ed10c02421e88f12913bba47e3be58d improve the performance of `CMSDY2D11` by another 50%.

[2020-07-29 07:46] cschwan commented on #11
Commit 007a835e38d9078d34079c520e914c5c58aadaad improves the performance of `CMSDY2D11` by yet another 25% for a 9-scale variation.

[2020-07-29 08:23] #11 closed

[2020-08-01 17:55] cschwan commented on #19
Implemented in commit a194e6cbf0f318c3ece93fd7c4e933bda8440e2d.

[2020-08-01 19:08] #19 closed

[2020-08-06 12:03] cschwan opened #30 "Support resummed results"

[2020-08-11 17:22] scarrazza opened #33 "Upload wheels to pypi"
Create an action which uploads python wheels for the master branch when a new release is created.

[2020-08-11 17:23] scarrazza opened #34 "Upload the sphinx docs to readthedocs"
Create an action which uploads the sphinx docs for the master branch in the readthedocs website.

[2020-08-11 17:46] cschwan opened #35 "Add an entry to the changelog for the new python module"

[2020-08-13 08:47] cschwan commented on #35
Added in commit 1e9b13e248318de3943f5bcb6674a34d87e5cc7d.

[2020-08-13 08:47] #35 closed

[2020-08-28 11:06] cschwan opened #39 "Support initial-state hadrons different than protons"
Right now PineAPPL doesn't save the type of hadrons in the initial state and assumes it's a proton.

[2020-09-04 06:38] cschwan commented on #34
Is this issue addressed?

[2020-09-04 06:43] cschwan opened #40 "Add functionality to remap bins"
Monte Carlo generators often do not support two- or three-dimensional distributions, which is why we need to map them to a one-dimensional distribution during their generation. It would be nice to have functionality in PineAPPL which allows to 'remap' the one-dimensional distribution to the original two- or three-dimensional one. To do so, we simply need a global vector which collects, for each bi

[2020-09-04 06:47] cschwan commented on #14
Work has started, but this is the wrong place to discuss it.

[2020-09-04 06:47] #14 closed

[2020-09-04 06:51] cschwan commented on #33
@scarrazza Is this still unaddressed?

[2020-09-04 07:15] scarrazza commented on #33
No, we can close.

[2020-09-04 07:15] #33 closed

[2020-09-04 07:15] #34 closed

[2020-09-14 11:48] scarlehoff opened #41 "Add Arch User Repository badge"
Hi, I just updated a PKGINFO to the Arch user repository: https://aur.archlinux.org/packages/pineappl/
mainly for my own convenience but I thought it would be nice to let you know: [![AUR](https://img.shields.io/aur/version/pineappl)](https://aur.archlinux.org/packages/pineappl)

This package installs also the python package.

I tried this package in the PR that @scarrazza added in vegasflow: http

[2020-09-14 13:16] cschwan commented on #41
Thanks, let me add the badge to the README.

[2020-09-14 13:26] cschwan commented on #41
Implemented in commit d93c51d69577b606fddac3e186c2e5351ff322ac.

[2020-09-14 13:26] #41 closed

[2020-09-17 15:39] cschwan opened #42 "Support `merge` where the input and output files are the same"
A useful subcommand is `pineappl merge output.pineappl input.pineappl --scale 0.5` to scale the grid. This works as long as the input and output file are not the same, which is useful, however. This requires being able to compress the file inside Rust.

[2020-09-18 16:29] cschwan opened #43 "Improve diff subcommand"
- Make sure that the differences are always visible; when the difference is smaller than a tenth of a permille, the difference is not visible. ~~Instead of showing differences in per cent we should show relative differences~~ fixed in commit bd869e5abba40d85d32a1d7f3d43a0a5b0373a54.
- ~~The order of the perturbative contributions seems to be random; this has to be fixed~~ fixed in commit 81908de73

[2020-09-25 08:52] cschwan opened #44 "Add new subcommand q2"
We need a subcommand that can show us, or least allows us to reverse engineer, the scale choice. To that end it is useful to know which Q^2 bins of the grid are filled (`LagrangeSubgrid`) or the distribution of the Q^2 values (`NtupleSubgrid`).

[2020-09-25 16:35] #43 closed

[2020-10-02 19:08] cschwan commented on #40
This is implemented in commit f10be6158d63bea5e8ec897ecb7ade1aa0c0c9bd.

[2020-10-02 19:08] #40 closed

[2020-10-02 19:14] cschwan commented on #39
Initial work started in commit 7a410886cc906f5a4ab34906638d29530a74dfe1, which added a key-value database, and in commit 5fc56e8b87de73386520cb2ec8a9efc95a1ec652, which added the keys `initial_state_1` and `initial_state_2` that determine the hadronic initial states.

[2020-10-19 10:41] cschwan opened #45 "Add offline file-size optimisation"
Possible optimisations:

- [x] symmetrisation of the initial states if the hadronic initial states are the same
- [x] better file format, which doesn't save zeros; if the optimisation is offline, we can try several sparse matrix ideas like DOK, LIL, COO, CSR, BSR, ...
- [ ] optimise luminosity function:
    - [x] strip empty entries
    - [ ] strip numerical zeros, see also https://github.com/NNPD

[2020-10-28 11:16] cschwan opened #46 "Do not show scale-variation uncertainties when NLO log grids are not present"
In this case the uncertainties are wrong.

[2020-10-30 14:56] cschwan opened #47 "Add subcommand to calculate integrated cross section grid"
This subcommand should accept a PineAPPL file, combine all bins of it into a single unit-sized grid and save the result into a separate file.

[2020-11-22 16:05] cschwan commented on #45
Pull request https://github.com/N3PDF/pineappl/pull/48 implements a more efficient data structure.

[2020-11-24 21:02] cschwan commented on #45
I've tested PR #48 with the complete ATLAS DY 3D grid, before (LagrangeSubgridV1) and after (LagrangeSparseSubgridV1) the optimisation, and both with and without LZ4 compression. Here's the table:

| Compression | LagrangeSubgridV1 | LagrangeSparseSubgridV1 |
| ---: | :---: | :---: |
| none | 3.1 GB | 497 MB |
| LZ4 | 377 MB |364 MB |

The numbers before compression are basically the memory requir

[2020-11-25 09:53] cschwan commented on #12
PR #48 implements another file-size optimisation, and Issue #45 lists more possibilities.

[2020-11-25 09:53] #12 closed

[2020-11-25 11:40] cschwan commented on #45
To optimise a grid, simply run `pineappl optimize input.pineappl optimized.pineappl`; no re-generation of the grid is needed.

[2020-11-25 12:04] cschwan commented on #17
Commits c8f8b6660bcd91defb18ac7cec2a80152a24987e, ae6bdbd4fe329a252ecce356c0c1ed70b8297152, and 49d9c8b30bdf3e635c01576208f507883be68067 add a preliminary C++ program to convert APPLgrids into PineAPPL grids. I've only tested a single grid, which is NNPDF's single-top production grid `CMS_SINGLETOP_TCH_R_7TEV`. The program only works with the NNPDF-modified version (also used for FK table generati

[2020-11-25 12:25] cschwan commented on #45
Here a comparison against APPLgrid (using the converter from PR #17 and `CMS_SINGLETOP_TCH_R_7TEV_T.root`):

| Setup | File size |
|-| :---: |
| APPLgrid | 2.1 MB |
| converted | 1.9 MB |
| converted+optimized | 1.5 MB |
| converted+optimized+compressed | 1.4 MB |

[2020-11-28 11:34] cschwan opened #49 "Add support for DIS grids"
We need support for observables that require only a single PDF convolution: DIS.

[2020-11-29 12:04] cschwan commented on #49
For the development, see https://github.com/N3PDF/pineappl/pull/50.

[2020-12-01 17:12] cschwan commented on #39
Most of the code is written in the DIS branch, #50, in the commit 448491cc5d9f3a3aa3eb0c0b993b85d499aecee0.

[2020-12-03 14:56] cschwan commented on #17
For the grids that not working, check that the map is "f2" as assumed (?!).

[2020-12-03 19:05] enocera commented on #25
@cschwan It would be nice if we could make the fastNLO importer also work with DIS grids. One specific example is DIS+jet(s). Apparently, the grids available from Ploughshare have been removed (for instance, they were available at https://ploughshare.web.cern.ch/ploughshare/record.php?group=applfast&dataset=applfast-h1-incjets-fnlo-arxiv-1406.4709, but are no longer there). I suspect that the reas

[2020-12-03 19:06] enocera commented on #25
The link includes several experiments from H1 and ZEUS, if the importer works with one grid, it should with all of them.

[2020-12-03 20:09] cschwan commented on #25
Great, thanks a lot. I'll have a look at it soon.

[2020-12-05 14:03] cschwan commented on #16
Support is implement using the `Subgrid::fill_q2_slice` method.

[2020-12-05 14:03] #16 closed

[2021-01-04 11:45] cschwan commented on #45
Commit 1ca0a55f220cb26c1446bf8107e0475907d06361 further optimizes the file sizes of grids for initial-state symmetric processes (for instance proton-proton collisions) by making use of the symmetry of the double-sum over the interpolated `x1` and `x2`.

Up to numerical noise the results are unchanged. The size optimization is a real reduction of information, so that both the compressed and uncompr

[2021-01-05 10:25] cschwan commented on #39
Commit ee1a47c770b2ea37cbd648c79a41047b01edfd7f adds support for any combinations of initial state leptons (no PDF) and (anti-)protons. Other nuclei are also supported, although processes like proton-lead collisions are not, as they require two truly different PDFs.

[2021-01-07 09:45] cschwan opened #52 "Add functionality to remove bins from grids"
We need a method in `Grid` and a subcommand in the CLI to remove specific bins from a PineAPPL grid.

@felixhekhorn @AleCandido

[2021-01-09 09:23] cschwan commented on #6
Commit 506fcce925aa6523792c1be9a8e451f3e16fb2a4 implements this.

[2021-01-09 09:23] #6 closed

[2021-01-09 09:23] #39 closed

[2021-02-02 20:37] cschwan opened #53 "Add Fortran interface"

[2021-02-07 16:35] cschwan commented on #45
Commits 098fe5d04ec9d8eb8a7ee4d1848bfc174e316245 and a0f32fc5906e74abc2e48c568086feb3c560ed09. This decreases the size of all grids that have a static scale, which, however, allows for different scales in different bins.

[2021-02-07 16:38] cschwan opened #54 "Optimize SparseArray3"
Optimize `SparseArray3` for the case in which the second dimension is larger than the third; in this case the two axes are best swapped.

[2021-02-07 16:40] cschwan opened #55 "Add more checks for merging and optimization"
When merging and optimizing grids we must perform more thorough checks if the grids are compatible with each other, for instance whether they have the same `x1`, `x2`, and `q2` grids.

[2021-02-08 07:28] cschwan opened #56 "Add new subcommand `subgrids`"
This subcommand should show technical information about the various subgrids:

- subgrid type
- `x1`, `x2`, `q2` grid values
- which part of grid is empty (in `q2`, in `x1`, `x2`)
- grids are zero

[2021-02-08 07:31] cschwan commented on #44
Closing in favour of #56.

[2021-02-09 16:25] cschwan commented on #42
This is potentially dangerous; we don't want users to accidentally overwrite grids.

[2021-02-09 16:25] #42 closed

[2021-02-09 16:29] cschwan commented on #49
After #49 is implemented we need a few checks that the right subgrid is selected: Right now `LagrangeSubgridV2` is the only subgrid type that supports different `x1` and `x2` bins.

[2021-02-19 08:26] cschwan opened #58 "Change the way subgrids are imported and exported"

[2021-02-19 10:56] AleCandido commented on #58
I'm not sure this is the correct place to tell you, but I was thinking about the `fill/write_q2_slice` issue and I've a suggestion: I said I would have expected a `read` method as a partner of the `write` one, but actually you should be able to implement a `read` statement on top of the `fill` one already at the abstract level, just allocating - filling - returning the buffer.

Is this meaningful

[2021-02-19 11:14] cschwan commented on #58
That's surely the right place, because those are the exact methods I'll to change. First of all, I'll get rid `write_q2_slice`, which is obsolete because we now have `ReadOnlySparseSubgrid` - that's going to do the job. This will require bigger changes in the C API though.

I didn't implement the `Read` trait because that's not exactly what `fill_q2_slice` does. What we need is to export Q^2 slice

[2021-02-21 07:58] cschwan commented on #49
After #54 is fixed, we can close this.

[2021-02-21 20:53] cschwan opened #59 "Improve remap subcommand"
The subcommand `remap` needs to understand more complicated specifications for bin limits.

[2021-02-22 08:41] cschwan commented on #54
Implemented in commit c021fc934a01accb032f34321a21bbd9922f0d85.

[2021-02-22 09:13] #54 closed

[2021-02-22 09:13] #49 closed

[2021-02-25 09:47] cschwan opened #60 "Make use of metadata in pineappl_cli"
The metadata provides us a convenient way to label all observables and differential cross sections. We should make use of it in `pineappl`.

[2021-02-28 15:39] cschwan opened #61 "Improve convolution output"
In the output of a few subcommands, for instance `convolute`, there are two columns shown, `integ` and `diff`. This is confusing and we should always consistently show the differential cross section and provide a switch that shows the integrated (instead of the differential) cross sections.

[2021-03-02 06:43] cschwan commented on #53
Added in commit bd77b0e94b6ff1f455328221182b02553c83db4e.

[2021-03-02 06:43] #53 closed

[2021-03-05 16:04] cschwan commented on #61
If the `left` and `right` observables for bins are the same, we shouldn't print both of them. One suffices.

[2021-03-13 15:03] cschwan opened #63 "Improve plot subcommand"
Commit d554fb2c33321f971bc53ea464a1f48ce4042434 introduced the `plot` subcommand, but we should improve it a lot:

- [x] automatic log-x / log-y detection: when `x1` has a unit, use a log scale for `y`, implemented in commit b45d56cd1ddbaf78c8b6aed88e73d1d2c37175bf
- [ ] improve x/y-log scale heuristic; the following grids shouldn't have an x/y log scale:
    - [ ] ATLAS_DY_7TEV_LOMASS_EXT
    - [

[2021-03-16 15:38] cschwan commented on #59
Implemented in commit e9ff500b6540a4954168ad1b81a8a92d142b9450.

[2021-03-16 16:27] #59 closed

[2021-03-17 12:05] cschwan opened #64 "Use alternative = true for replica PDF sets when evaluating PDF uncertainties"

[2021-03-18 10:12] cschwan commented on #64
`alternative = true` doesn't do what I think it would.

[2021-03-18 10:12] #64 closed

[2021-03-18 10:21] cschwan commented on #64
See also the description of commit 2cb663c0f820dc1ac1891e69aef10a7558d66e8d.

[2021-03-18 16:05] #10 closed

[2021-03-18 16:07] cschwan commented on #46
In general this isn't possible, because we can't reliably detect what LO and NLO is.

[2021-03-25 08:15] cschwan commented on #56
Commit https://github.com/N3PDF/pineappl/commit/4c4d08e031e55838b19303cb7221e79054877220 adds the preliminary version of it.

[2021-03-29 06:29] cschwan opened #65 "Switch --silence-lhapdf is ignored"

[2021-03-29 07:02] cschwan commented on #65
An unpublished change was responsible for this.

[2021-03-29 07:02] #65 closed

[2021-03-31 10:36] cschwan commented on #29
Input and output errors in the `pineappl_cli` crate are improved in commit 8add81c4efff5edeb662f3d168a6157edae2fc1e.

[2021-03-31 10:37] cschwan commented on #29
More improvements are in commit 67be0cd3e8faf09c097b4e13191b024a73378687.

[2021-04-19 17:34] cschwan commented on #60
Implemented in commit a2ad39f02a7d9e5a23418de22e5c320c03c660d7.

[2021-04-19 17:34] #60 closed

[2021-04-19 17:35] cschwan commented on #61
Implement in commit 3f915ee6654e248fd3e2f8eb952c4faedda0fd84: this shows only the differential cross sections, or the integrated ones when the switch `-i` or `--integrated` is given.

[2021-04-19 17:40] #61 closed

[2021-04-26 11:17] cschwan commented on #63
Commit e0ab381c851ff88459ea64d1efb4c330fb704d0d disables the NLO QCD scale variation band (comments the line so it can be easily added back).

[2021-04-28 19:19] cschwan commented on #63
Further necessary fine tuning:

- [ ] improve x-log scale heuristic; the following grids shouldn't have an x log scale:
    - [ ] ATLAS_DY_7TEV_LOMASS_EXT
- [ ] improve y-log scale heuristic: the following grids shouldn't have a y log scale
    - [ ] ATLAS_DY_7TEV_LOMASS_EXT

[2021-05-06 08:35] cschwan opened #66 "Fix `Grid::convolute` caching strategy"
Right now `Grid::convolute` always has `two_caches = true` (I've discovered this while running the code in `rust-gdb`),

https://github.com/N3PDF/pineappl/blob/6ccb9a49fa9d3baa06f9958fd1db6f9286983449/pineappl/src/grid.rs#L343

which misses a few optimizations whenever the two initial-state hadron are the same.

[2021-05-06 11:36] cschwan opened #67 "Add subcommand to sum bins"
If we want to generate a 2D distribution from 3D one, for instance, we need a subcommand to sum over several bins:

- [x] add switch `--integrated` to produce integrated cross sections; implemented in commit ad80e83b857140ff353cd711bb2b814f838380b0
- [ ] add switch `--sum-obs` to integrate over the dependence of entire observables (changes N-dimensional grids to (N-1)-dimensional ones)
- [x] add s

[2021-05-10 16:20] cschwan commented on #17
Commit 53b48c4d87107bbfcce1e5c80b924678c9d8d43f massively improves the converter. I've checked it against all the APPLgrids in the NNPDF repository. There are 491 `*.root` files in total, out of which
- 273 succeed to convert and yield the same numbers (at least 10 digits, typically more) and
- 218 fail to convert.

Out of the 218 files that fail to convert,
- 126 have luminosities functions diffe

[2021-05-11 08:43] cschwan commented on #17
I'm closing this issue, given that almost all grids can be successfully converted. The program has to used as follows:

    ./appl2pine grid.root output.pineappl

It must be compiled with [APPLgridphoton](https://github.com/scarrazza/applgridphoton).

[2021-05-11 15:48] cschwan commented on #45
Using `./appl2pine` (see also https://github.com/N3PDF/pineappl/issues/17) I converted all grids (except two) into PineAPPL grids. The following are my observations:

- in the worst case scenario the PineAPPL grid is 0.3% percent larger than the APPLgrid. This happens 4 times out of 489
- in the best case scenario the PineAPPL grid is 98.5% percent smaller, however in this case the APPLgrid is emp

[2021-05-12 16:15] cschwan commented on #25
I've started working on this, and commit ea81006f7f936fb70ebcb5dde6793afc46ce57bf adds a program `fnlo2pine` that can already read `fastNLOCoeffAddFix` tables. The numbers are still wrong, but not too far off, so there should only be a few bugs left to find. I'm also confident that reading out `fastNLOCoeffAddFlex`-type table should work similarly - this is the format of the tables you've linked a

[2021-05-13 12:36] cschwan commented on #58
Commits be733ac5281414ff7b592699c22b5a53791f2af9, ce5bc1bac83944d88504319b667d5b48107374b2 and f6b932304e7fedd129765b8dcebe98d37adc419b change the way grids are imported, also through the C API. Thanks to those changes we can now import a grid using custom x1/x2/Q2-grid points, by simply specifying them.

[2021-05-13 15:23] cschwan commented on #25
Starting with commit 6a0b4f5be494d5ba59f4fabe1e117778d55a0042 we can now convert one-dimensional `fastNLOCoeffAddFix`-type tables, for example [Mitov's ttbar tables](http://www.precision.hep.phy.cam.ac.uk/results/ttbar-fastnlo/) - all of them are working.

[2021-05-18 12:24] cschwan commented on #55
Implemented in commit 572b5f84205e2fec4e502ab5cd787f6bb95d0b51.

[2021-05-18 12:24] #55 closed

[2021-05-18 12:42] cschwan commented on #47
Closing this in favour of #67, which is the more general case.

[2021-05-18 12:42] #47 closed

[2021-05-18 13:26] cschwan commented on #55
Fixed a related bug in commit e557d79a4e2b5f44abf33af1afc89e95256a2edc.

[2021-06-08 13:34] cschwan commented on #25
Commits 0e18c2235c68cf3366dfb62b8c9670ba97e2e3cd and 8a5c7b947a251c0e2bcfcba86162c100b565d906 add support for symmetrised fastNLO tables, such as the 2D and 3D jet cross sections that we're using.

[2021-06-08 14:06] cschwan commented on #25
What's left to do for this issue is to implement support for the flexible-scale grids (these: https://data.nnpdf.science/fnlo_tables.tgz), which support different values for the factorisation and renormalisation scales. If I recall it correctly the linked DIS grids set the factorisation scale to Q^2 and the renormalisation scale to sqrt(Q^2 + ptjet^2). At the moment this unfortunately isn't suppor

[2021-07-16 08:42] cschwan commented on #45
Commit fce09e13383909043dc104434d9f6be45072bb59 removes empty luminosity entries, which is primarily required for generating smaller FK tables.

[2021-07-16 17:03] AleCandido commented on #21
I was looking to the issues and I noticed this one-year-old one.

I would suggest something like this for the concept:
![pineappl](https://user-images.githubusercontent.com/10830876/125981497-8576789b-060a-42f7-8a67-63970528b55b.png)
(the svg is not supported by GitHub and thus attached [pineappl.zip](https://github.com/N3PDF/pineappl/files/6832251/pineappl.zip), with an alternative layout)

The f

[2021-07-17 05:26] cschwan commented on #21
Thanks for looking into that. The first pineapple from you last link actually quite nice, I like that the body looks like a grid!

[2021-07-17 06:40] AleCandido commented on #21
That's another chance of course :)

[2021-07-28 16:55] cschwan opened #68 "Add new struct `FkTable`"
Add a new struct `FkTable`, which is a special case of `Grid`, but

- has a single scale Q^2 for all `Subgrid`s
- guarantees that the `x1` and `x2` grids are the same for each `Subgrid`
- has a simplified luminosity function, in the sense that each combination of initial-states appears only once
- has exactly one order, with all powers set to zero, because all powers are added on top with each oth

[2021-07-29 08:09] AleCandido commented on #68
I agree this will simplify the interaction at boundaries (both eko and fit).

The moment you provide the implementation we can migrate the python interface, but there is not so much to actually migrate: being a special case of `Grid` will provide a similar API, so we can just test and fix few incompatibilities.

Personal interest: being that there is no inheritance, how are you going to implement

[2021-07-29 08:12] cschwan commented on #68
Like this :smile: :

[code]

[2021-07-29 08:16] AleCandido commented on #68
That's a fair solution. Simple and effective :ok_hand:
Maybe inheritance might have been more suitable for the task, nevertheless it's bad that I feel lost without.

[2021-08-10 17:43] cschwan commented on #28
Fixed in commit 831aa196882e9b88fbe31a0264072693d7a2be21.

[2021-08-10 17:43] #28 closed

[2021-08-12 05:05] #63 closed

[2021-08-17 07:30] cschwan commented on #68
I added a first implementation in commit 497a446651aa2805807fe5668abd68df4c072c65.

[2021-08-26 12:04] cschwan opened #69 "Improve PDF set relabeling"
Since commit 5be97626723ccd5bbd3697fddd7a38b2fdc422cc, PDF sets can be relabeled, for instance in `plot`:

[code]

which loads the 3.1 NNPDF set and calls it `NNPDF3.1` in the plot legend. This feature should be improved:

- [ ] use it also for other subcommands, such as `convolute`, `orders`, ...
- [ ] if used in `plot` make sure that the string is properly escaped (underscores, ...)

[2021-09-08 06:56] cschwan opened #70 "Add NNPDF4.0 FK table importer"
Specification is available here: https://docs.nnpdf.science/data/th-data-files.html.

[2021-09-09 06:28] cschwan commented on #58
Commit b8f46c1f9c3a110238555505d96ccd42824e2f99 removes the `q2_slice` methods; instead `Subgrid::iter()` can be used.

[2021-09-09 06:28] #58 closed

[2021-09-09 16:02] cschwan commented on #68
Implemented in the pyo3 branch: #51.

[2021-09-09 16:02] #68 closed

[2021-09-09 16:10] cschwan opened #71 "Improve Python interface"
- [x] remove old Python interface
- [x] write github action for automatically uploading to PyPI whenever a release is published df7c8b556f006e91e091f86b54b958144c4aac88 - 88b78125e93addc0b753f714ff8533cfd6aa0572
- [x] change `convolute_eko` to return `FkTable` instead of `Grid`
- [x] ~~minimize the use of `unwrap`~~ I'm deferring this to a later stage
- [x] improve test coverage
- [x] make the old

[2021-09-09 16:10] cschwan commented on #66
Plan:

- [ ] replace arguments `xfx1`, `xfx2` and `alphas` with a single object of `PdfCache`,
- [ ] which takes care of caching the arguments of every PDF,
- [ ] in such a way that pp, ppbar, etc. rely on a single PDF.

[2021-09-10 11:05] felixhekhorn commented on #71
test coverage mostly done in https://github.com/N3PDF/pineappl/commit/baa6e9247e03edf01d2d9574b27c6a2722dc10e0

[2021-09-10 12:01] AleCandido commented on #71
Most likely @cschwan meant the coverage shown by the badge, and that takes only care about the rust files (see codecov).

[2021-09-10 13:07] cschwan commented on #71
That's what I meant, the Rust code coverage is a separate concern.

[2021-09-10 16:05] AleCandido commented on #71
The better :)

[2021-09-13 16:03] felixhekhorn commented on #71
I started to address this in https://github.com/N3PDF/pineappl/commit/75055fd9471a764d34e7d902e176fc0c4578afdd I'm not sure this is done, yet

[2021-09-25 08:23] AleCandido commented on #71
Just waiting to switch:

- TestPyPI `->` PyPI
- `workflow_dispatch` `->` `on: release`

in the [workflow] https://github.com/N3PDF/pineappl/blob/master/.github/workflows/wheels.yml

[2021-09-25 09:57] AleCandido commented on #71
We are now releasing even windows wheels with 54e9c55b83676a693f9d1256dcd8746ecd6df0cd

Now polishing the workflow, since looks like:
- in order to get multiple cpython wheels on `macOS` you need to run `maturin` with different python interpreters available (so you need a matrix job in order to rerun a job for eachl cpython wanted)
- on `windows` it behaves like `manylinux`: single job required to

[2021-09-25 10:02] AleCandido commented on #71
`deploy-windows` actually polished in a0b17fe3cbc15162a68f91517cccd4933e8ef03e

[2021-09-27 08:04] AleCandido commented on #71
I believe this has been solved in the commit I put by @felixhekhorn, can you confirm?

[2021-09-27 09:18] cschwan commented on #71
Yes, works flawlessly!

[2021-09-27 09:21] cschwan commented on #71
What's the status of .readthedocs.yml? The badge in README.md says it's not working. Is it possible to put this file into the pineappl_py subfolder (where it belongs)?

[2021-09-27 12:59] cschwan commented on #29
Final improvements are in commit 280deb55a687bc1ade67fbfe6aaf389b76953ed3.

[2021-09-28 07:15] cschwan commented on #71
I fixed `.readthedocs.yml` in commits 3e57f893a6a7879e1a63581864d366270544a93a and 56815e767173578a9148c94c6cf9263d24ca777c so that it actually triggers the build, nevertheless it still fails later on: https://readthedocs.org/projects/pineappl/builds/14840270/. It seems that cargo is missing, @AleCandido @felixhekhorn do you have any idea how to fix it?

[2021-09-28 08:26] AleCandido commented on #71
I actually switched the workflow to target the official PyPI, now you can keep going @cschwan (we did whatever was possible to test it ahead of time, now I hope it should work out of the box).
You should be able just to make a release (we already deployed current version on testPyPI, but the two are completely independent), but for consistency I would make a new tag and start with beta versions.

[2021-09-28 08:34] AleCandido commented on #71
No way with readthedocs, see [note about C dependencies](https://docs.readthedocs.io/en/stable/faq.html#i-get-import-errors-on-libraries-that-depend-on-c-modules), that is pointed by the generic [FAQ on install dependencies](https://docs.readthedocs.io/en/stable/faq.html#my-documentation-requires-additional-dependencies).

Essentially on readthedocs only python (i.e. PyPI) dependencies are allowed

[2021-09-28 08:41] cschwan commented on #71
OK, in that case I'm going to release a beta version.

[2021-09-28 08:43] cschwan commented on #71
I read the same pages, but there's support for Conda in RTD, and in conda-forge there's a Rust package: https://anaconda.org/conda-forge/rust. Can we use that? If not, we'll host the documentation ourselves.

[2021-09-28 09:14] cschwan commented on #71
Seems to have worked: https://pypi.org/project/pineappl/0.5.0_beta/

[2021-09-28 12:18] cschwan commented on #71
I managed to make a bit of progress using conda, see commit 4a2a8bba2fd70e186d9d167eac632a688bd8cecd, but the build still fails: https://readthedocs.org/projects/pineappl/builds/14842785/.

[2021-09-28 12:27] cschwan commented on #71
@AleCandido It doesn't seem to work on my new computer:

[code]

[2021-09-28 12:55] felixhekhorn commented on #71
agreed - can you trick some additional pip arguments into `path`?

https://github.com/N3PDF/pineappl/blob/4a2a8bba2fd70e186d9d167eac632a688bd8cecd/.readthedocs.yml#L11

[2021-09-28 14:28] AleCandido commented on #71
Maybe you're right and it's just possible with conda, but unfortunately I'm not familiar with it. I will have a look myself in the next few days, if possible let's try to make it work, otherwise `gh-pages` is always an option.

[2021-09-28 14:41] cschwan commented on #71
@AleCandido I'm pretty sure that @felixhekhorn and I solved the problem now. We just need an [environment variable](https://docs.readthedocs.io/en/stable/environment-variables.html) `PIP_USE_FEATURE=in-tree-build` in the readthedocs configuation of this repository, and then it should work. However, @scarrazza has to do it because we don't have the rights.

[2021-09-28 15:08] cschwan commented on #71
We get a different build error now, something is wrong with sphinx: https://readthedocs.org/projects/pineappl/builds/14844451/.

[2021-09-28 15:15] felixhekhorn commented on #71
my bad - fixed in https://github.com/N3PDF/pineappl/commit/bf121b6821e6ad977770070680415e71bb3b8bb5

[2021-09-28 15:19] cschwan commented on #71
There are more errors; apparently it can't find bibtex: https://readthedocs.org/projects/pineappl/builds/14844604/.

[2021-09-28 15:45] felixhekhorn commented on #71
@cschwan @AleCandido :tada: [went through](https://pineappl.readthedocs.io/en/latest/)

[2021-09-28 15:51] felixhekhorn commented on #71
*sigh* I was so happy I ticked the item prematurely - this is not working (yet) we're missing all the PyO3 stuff, i.e. the `pineappl.pineappl` module ... https://pineappl.readthedocs.io/en/latest/modules/pineappl/pineappl.html

[2021-09-28 16:50] felixhekhorn commented on #71
I'm giving up for today ... we need to fix
[code]
[here](https://readthedocs.org/projects/pineappl/builds/14845424/)

and we do have a conda env around ...

I'm also slightly concerned that we're too late - because we're already *inside* sphinx

[2021-09-28 18:55] AleCandido commented on #71
Sorry not to have followed updates, I will check everything tomorrow.

Just to make some progress: I'm pretty sure the reason might be different, because in the quoted issue the problem is with the build pipeline triggered by `pip install .`, indeed pip is triggering the build system looking into `pyproject.toml`, and then there will be a problem with relative paths handling there. Instead we're d

[2021-09-28 21:47] AleCandido commented on #71
If you read a few lines above there is the answer to your doubt:
[code]

Meaning: maturin is failing because conda failed in before. Why conda failed, this I don't know (yet)

[2021-09-28 21:56] AleCandido commented on #71
A proposal solution for the RTD issue might be the following: since `environment.yml` contains just a few dependencies

https://github.com/N3PDF/pineappl/blob/716abc8a0e628575fb134d0fc7c3b90b6d8656d1/pineappl_py/environment.yml#L4-L7

we can replace them with `apt` and `pip` (maybe):
- `sphinxcontrib-bibtex` and `maturin` have PyPI packages we can just use `pip`
- for [`rust`](https://packages.ubu

[2021-09-29 07:23] cschwan commented on #71
I can read the documentation now, so does it mean it's working?

[2021-09-29 07:27] cschwan commented on #71
It's a debian 10 machine, which isn't too old. Debian 11 (with Python 3.9) has only been released last month. How much work is it to add Python 3.7 support?

[2021-09-29 08:44] felixhekhorn commented on #71
unfortunately no ...

[2021-09-29 08:46] AleCandido commented on #71
As you said Debian 10 is quite common, I was not aware it was still on 3.7 (I would have expected 3.8, but that's not so strange considering it's Debian).

And the problem is that it should work, already, without any extra effort (just `pip install --pre pineappl`).
Since it's not the case we have to understand why it's not working, and I'm not sure it's 3.7 fault.

[2021-09-29 08:47] cschwan commented on #71
I probably don't understand because I'm not too familiar with Python, what exactly is missing here?

[2021-09-29 08:51] cschwan commented on #71
:grin:

Is it possible that there's interference with Python 2? It's still the default on Debian 10...

[2021-09-29 08:53] AleCandido commented on #71
@cschwan write here your pip version and then try to upgrade it `pip install --upgrade pip`

Seems like the issue is known on [SO](https://stackoverflow.com/questions/51405580/pip-install-filenotfounderror-errno-2-no-such-file-or-directory)

[2021-09-29 08:57] felixhekhorn commented on #71
we're missing the PyO3 module, i.e. e.g. the documentation for `PyBinRemapper` (that is written in Rust)

[2021-09-29 08:57] cschwan commented on #71
@AleCandido Indeed, that was the problem. My pip version was:

    pip 18.1 from /usr/lib/python3/dist-packages/pip (python 3.7)

It works with 21.2.4!

[2021-09-29 08:59] cschwan commented on #71
Do we really want to document it? The user should not be able to directly work with the Rust parts, in fact they shouldn't know that there's Rust involved at all. But maybe we'd like to have it as internal documentation (developer documentation)?

[2021-09-29 09:06] felixhekhorn commented on #71
No, we need it because it holds all the crucial functions that are exposed to the user (remember our magic binding in `PyWrapper`) and hence we have to document it (and `maturin` is providing the documentation from below ...)

e.g. `PyGrid.bin_left()`

[2021-09-29 09:31] AleCandido commented on #71
So bad...

It's true that there are 3 majors between 18 and 21, and each one might break compatibility, but pip is iterating too fast on majors...

[2021-09-29 11:59] cschwan commented on #71
In that case what do we think about explicitly wrapping every method to document them?

[2021-09-29 12:22] cschwan commented on #71
@AleCandido @felixhekhorn Can you please review commits 2665c9bd550b22abb1d100b826cc21c600084804, 73b6a5fa2894ab70ebd7c360e434a14d769a96b9 and 43f39e3efee39d454d0b73c6d29a96e67672bdb6? These are changes will be needed by @scarlehoff. I'll do another beta release shortly after your OK.

[2021-09-29 16:19] felixhekhorn commented on #71
@scarlehoff we also implemented the `FkTable.read` that we were talking about in https://github.com/N3PDF/pineappl/commit/a12338a845baf58678344f833c2aa7dfd46455c3 so you should use that one to read the FkTable

[2021-09-30 09:22] felixhekhorn commented on #71
@cschwan we completed the RTD integration in https://github.com/N3PDF/pineappl/commit/ed0c9d6680daa9b9e6318c4fd9d29137b60a770c and now we have [`PyGrid.bin_left`](https://pineappl.readthedocs.io/en/latest/modules/pineappl/pineappl.html#pineappl.pineappl.PyGrid.bin_left) which otherwise the Python developers would not known (but they most likely need)

[2021-09-30 09:40] cschwan commented on #71
Great! I'll prepare a new beta release in this case.

[2021-09-30 09:40] AleCandido commented on #71
Wait one second, I'm going to add some defaults as requested by Juan

[2021-09-30 10:02] scarlehoff commented on #71
Great, thank you guys very much.
I've decided to put the script @cschwan wrote yesterday for the cfactors exercise in a jupyter notebook https://github.com/NNPDF/tutorials/blob/master/pineappl/Create%20new%20cfactor%20files%20with%20pineappl%20-%20Pineappl%20python%20interface%20test%20case.ipynb in case you want to have a look at the use-case (cell [7] right now) or test before the release.

For

[2021-09-30 10:26] AleCandido commented on #71
I've finished with the defaults, now the `???` is simply empty, don't put anything, and it is correct.

However, thanks to Felix stubbornness even the docs are now working, so in case you need anything different from defaults you can read there.

[2021-09-30 10:29] scarlehoff commented on #71
What do I get with the default? I want to separately get ew and qcd nlo

The docs say:

What is the order of the orders (heh)? [LO, NLO QCD, NLO EW]? (and how does they look in the return list)?

[2021-09-30 10:44] AleCandido commented on #71
Maybe there is a problem: are you speaking of FkTables or Monte Carlo grids (i.e. after or before evolution)?

It's true that for Monte Carlo grids you can mask orders, and they are even slightly more complicated since they include scale variation (an order is a 4-tuple, you can see it on [pineappl docs](https://docs.rs/pineappl/0.4.1/pineappl/grid/struct.Order.html#fields)), for the time being yo

[2021-09-30 10:52] scarlehoff commented on #71
I want to add the orders to the code I put [here](https://github.com/N3PDF/pineappl/issues/71#issuecomment-931177566
) so I can get the results (after convolution).

I'm not using scale variations. Right now after I used that code I get an array of results for `xs` where `xs = LO + NLO_QCD + NLO_EW`. The question is, how should I use to separate them.
More specifically, should I do:

[code]
or
[co

[2021-09-30 10:58] AleCandido commented on #71
If you want to separate them, you should do the second one.
Specifying all `True` is like no mask, you're not hiding any of them. The result is always a simple object (an array on bins).

As said above, for the order you have to use `pineappl orders`, but if this is an actual use case we can add it to the python library.

[2021-09-30 11:00] scarlehoff commented on #71
Great thanks.

It is, I'm using it :P but for the time being I can obtain the same information with the code above so the current version works for me.

[2021-09-30 11:44] cschwan commented on #71
Yes, we should add the method `orders` to the Python interface. In general, the order of the (perturbative) orders (ha!) is arbitrary, so we need this method.

[2021-09-30 12:46] felixhekhorn commented on #71
@scarlehoff @cschwan `orders()` is exposed here: https://github.com/N3PDF/pineappl/commit/d7d63b7c0d575207b621a849cb3f9ad213fea6b8

[2021-09-30 13:08] cschwan commented on #71
@felixhekhorn @scarlehoff Thanks, I published a new release that should appear on PyPI soon.

[2021-09-30 14:15] felixhekhorn commented on #71
@cschwan

in https://github.com/N3PDF/pineappl/commit/02c4f452e3f30c9f1aac36bf586474b12f731c59 I moved the installation instructions to the docs (as we discussed) - so the thing is almost empty now, is this ok?

[2021-09-30 14:21] cschwan commented on #71
I'd say that's fine. I suggest we'll further improve the README as we go along.

[2021-09-30 14:22] cschwan commented on #71
I'm closing this Issue now. For any further discussion let's open a new one.

[2021-09-30 14:22] #71 closed

[2021-10-01 14:28] scarlehoff opened #73 "Allow to easily generate order masks"
In order to mask orders in the python interface I need to pass five different booleans

[code]

What is the combination for NLO QCD and NLO EW? (so, LO * as and LO * a)
The closest combination for the he qcd_result I get is `[True, False, False, False, True]` but would prefer to have the exact definition.

(wasn't sure whether this is a python or internal pineapl thing, so wasn't sure whether to d

[2021-10-01 15:40] cschwan commented on #73
You need to match the ordering returned by `grid.orders()`. This returns a list of [`PyOrder`](https://pineappl.readthedocs.io/en/latest/modules/pineappl/pineappl.html#pineappl.pineappl.PyOrder) objects, which you can query with `as_tuple()`, which in turn returns the exponents. For Drell-Yan you should get the following tuples:

    (0, 2, 0, 0)
    (1, 2, 0, 0)
    (1, 2, 1, 0)
    (1, 2, 0, 1)

[2021-10-01 15:58] scarlehoff commented on #73
I guess for different DY I would get different orders as well? For instance, for one of the DY_13TeV I get:

[code]

So I guess in this case I need indeed `[True, False, False, False, True]` for QCD and `[True, True, ... False...]` for EW. Ok. If this kind of agreement (NLO QCD - NLO QCD) is the one expected between NNPDF fktables and pineappl (It's better than 1% sometimes even 1/1000 everywhere)

[2021-10-01 16:17] cschwan commented on #73
This looks pretty good. In general, we expect differences due to

- **Monte Carlo uncertainties**, which for the FK table is lost, but for the PineAPPL grid you get them by running `pineappl info --get results grid.pineappl.lz4` on it (the convoluted numbers use the PDF selected by the MC, which you can read off the runcard using `pineappl info --get runcard`); the Monte Carlo uncertainty is the t

[2021-10-01 16:25] AleCandido commented on #73
Notice that `pineappl info --get runcard` for the time being will be available only for the madgraph generated pineapplgrids. The one produced by yadism are lacking it (I will concatenate the two runcards and put there at some point).

[2021-10-13 13:36] cschwan commented on #66
A similar benchmark with `pdf_uncertainty` instead of `convolute` takes 1m37s in the first case and 4m9s in the second case; this subcommand uses 8 cores. This just goes to show that PDF caching is still very much needed.

[2021-10-14 09:54] cschwan opened #76 "Fix cornercases in Lagrange-interpolation subgrids"
We should not allow incorrectly set parameters, which will lead to problems similar to the one reported here: https://github.com/N3PDF/pineappl/pull/75#issuecomment-943106760

[2021-10-15 14:43] AleCandido opened #77 "FkTable.table raises unexpected error"
As reported by @scarlehoff running the following on [the attached FkTable](https://github.com/N3PDF/pineappl/files/7354104/213-HERA_NC_318GEV_EP_SIGMARED.zip) does not work, and it raises.
[code]

Most likely we have a `subgrid(0, 0, 0)` empty, and then the subgrid allocated has dimension (#bins, #lumis, 0, 0), and it fails as soon as it iterates over the following subgrids.

https://github.com/N3

[2021-10-18 13:27] cschwan opened #78 "Improve particle ID handling"
We should improve the particle ID handling in PineAPPL. Some things that should be done:

- [ ] Make particle ID bases transparent. See also https://github.com/N3PDF/pineappl/pull/75#issuecomment-945745696.
- [ ] Starting with commit 4e40743929483f9e670069238e7368b77634ba76 we're implicitly assuming that the PDFs accept only PDG MC particle IDs. Shall we support also PDFs in the evolution basis?

[2021-10-18 14:00] cschwan commented on #77
@scarlehoff @AleCandido commit eb2af60a69fd9e979a77d822fef904397e46d816 should fix this problem in the general case. Could you please let me know if it works?

[2021-10-18 15:38] scarlehoff commented on #77
Yes, it works with some of the unoptimized grids as well.

One problem though is that the `convolute` method is not working any more. I'll try to write a MWE and open an new issue.

[2021-10-18 15:41] cschwan commented on #78
That's what we're doing right now, but I wonder whether this is a restriction. @scarlehoff When we ask the NNPDF library for a PDF, do we get it in the flavour basis, evolution basis, or can we ask for it?

[2021-10-18 15:43] cschwan commented on #77
I think the problem is commit 4e40743929483f9e670069238e7368b77634ba76, which now requires the PDFs that you pass to PineAPPL are in the flavour basis, irrespectively of what basis the grid is in.

[2021-10-18 15:47] #77 closed

[2021-10-19 08:50] scarlehoff opened #79 "Optimize `FkTable` representation"
For instance, at the initial scale we have that

sigma = T24 = T35
V = v15 = v24 = v35

One thing that the NNPDF fktables do is to say "ok, since these are equal I'll just sum everything in, say, V, and empty the other rows" so one gets "V+V15+V24+V35" but the luminosity function is just V.

[2021-10-19 10:09] felixhekhorn commented on #79
But as you said this is a NNPDF thing so let's do as @scarlehoff and I said in person: let's change the `.tables()` ... (that is at the latest point possible ...)

[2021-10-19 11:32] cschwan commented on #79
That's a good idea! We could call it `FkTable::optimize(constraints: ...) -> FkTable`.

[2021-10-19 12:35] AleCandido commented on #79
I agree, at the end of the day an `FkTable` is conceptually different from a `Grid`, so there is no clash.

[2021-10-19 20:10] cschwan opened #80 "Add `Grid::write_lz4` method"
To read a `Grid` we have the `Grid::read` class method, which automatically detects whether a grid was compressed. The corresponding `Grid::write` can't guess whether we want to write a compressed grid, of course, so we need a `Grid::write_lz4` method.

[2021-10-28 14:19] cschwan opened #81 "Add Python interface for `Grid::fill*` methods"

[2021-10-29 11:03] AleCandido opened #82 "Return numpy arrays instead of lists in Python interface"
At the moment, we're not consistently dealing with arrays/lists in python, since we only tried late the `rust_numpy` crate.

We should then move the formerly implemented methods that returns `Vec<T>` (handled in python as a list) to return whatever `PyArray` is suitable from the mentioned crate.

New with `rust_numpy`:

https://github.com/N3PDF/pineappl/blob/a1fe0350b00a1129e35d680c5dfa4448a59f8fa

[2021-10-29 14:15] cschwan opened #83 "PineAPPL file format and backwards compatibility issues"
Backwards compatibility
--------------------

First, let's define backwards compatibility:

*`Grid::read` must be able to read all generated PineAPPL grids if they were generated using a **released version** of PineAPPL. Released versions are the ones on the [Releases page](https://github.com/N3PDF/pineappl/releases)*.

PineAPPL file format
------------------

PineAPPL doesn't have a dedicated fil

[2021-10-29 17:30] AleCandido opened #84 "Python paths handling"
I don't remember any longer where we wrote it, but it was already pointed out by @cschwan (I guess, otherwise @felixhekhorn) that since July it is possible to [handle `pathlib.Path` directly from `pyo3`](https://pyo3.rs/v0.14.5/changelog.html?highlight=path#added-5).

Thus, we should rework the API when dealing with paths, to work with python (and rust) paths, instead of relying on strings.

In pa

[2021-11-03 13:53] cschwan commented on #83
Preliminary code to support file format changes are in commit d9897bcd632209022b0a35d38851f423fbf45b06. If you find yourself not being able to read new grids, make sure the CLI is up to date.

[2021-11-04 09:07] cschwan commented on #73
Commit b824458e27c2e17a1dff29e39b116688e6bb890a adds two new functions, which allow the selection of NLO EW and QCD. I've named them `Order::mask_highest_alphas` and `Order::mask_highest_alpha`, which IMO describe a bit better what they do. If the grid contains all orders for the specific process at LO, NLO, NNLO, ... then `mask_highest_alphas` will return the mask for LO, NLO, NNLO, ... QCD, and

[2021-11-04 09:30] scarlehoff commented on #73
I'm afraid it is not super clear. In particular you said

Do you mean it will return a mask for each of the orders or one containing LO + NLO + NNLO?

It might be silly but I'm confused about "mask_highest" returning "orders". Should I expect one mask or several? Or one mask with all orders? What do I have to give as the input?

The example didn't clarify it for me I'm afraid.

[2021-11-04 09:39] felixhekhorn commented on #73
- I think you should also provide a short cut for `Order::mask_highest_alphas(grid.orders())`
- does this also work for NNLO grids (such as DIS)?

[2021-11-04 09:58] AleCandido commented on #73
Moreover: yesterday we said that might be useful to mask lower orders as well.

I would do instead a single functions that accept two ranges, first for QCD and second for QED, inside an option to make it None for unconstrained.

[2021-11-04 17:57] cschwan commented on #73
Commit 49efe64bfc9f77f9461046f9d020934d5626f79f should implement most suggestions, please let me know what you think (the documentation might still be a bit unclear).

[2021-11-04 22:38] AleCandido commented on #73
I believe now is much better, and even the documentation is pretty good.

I would suggest to shift the orders:
- at the moment `max_as, max_al = { 0, 1 ; 1, 0 ; 1, 1 }` all produces the same output, thus I would call `0` the LO, and leave only `0, 0` (that at moment is the mask all, that can be easily hand-crafted)
- I would even slightly simplify the implementation: after having found LOs, you ca

[2021-11-04 23:07] AleCandido commented on #73
Honestly my original idea was something like this:

[code]

In order to be able to select even NLO QED only, e.g using:

[code]

But maybe it's too fancy...

[2021-11-04 23:24] AleCandido commented on #73
Ok, stupid me: it was a complicate solution to an easy problem.

The actual function would be much easier with the same signature:

[code]

[2021-11-05 08:01] cschwan commented on #73
@AleCandido `(0, 1)`, `(1, 0)` and `(1, 1)` only produce the same output in the case when there is only a single LO, but they work differently in the case when there are multiple, see commit 04da81f7ee923ad963e521a7a3d995ea76616378.

[2021-11-05 08:11] cschwan commented on #73
That's a different function that doesn't let you specify NNLO QCD for top-pair production though; you need to treat the LOs differently from the NLOs and the NNLOs to do that.

[2021-11-05 08:21] scarlehoff commented on #73
I think the documentation + example / test is clear enough now. Thanks!

The only thing confusing for me is that you have to pass an array of orders to the function (naively the array would be created automagically if you do `grid_object.create_mask(a=2, as=1)` but I guess the proper use is more like `create_mask(grid_object.orders(), a=2, as=1)` which is not bad either.

[2021-11-05 08:30] cschwan commented on #73
I chose it to be a class method of `Order`, because in that case I can use it even without a `Grid` instance, which is important for doctesting. And manually passing `grid.orders()` isn't too difficult :smile: .

[2021-11-05 09:39] AleCandido commented on #73
Ok, I see. I didn't consider the case of different LOs.

Here I didn't properly understand, apart from the implementation the goal was just to be able to specify a minimum value as well, but I guess there is a counterexample I'm missing again...

[2021-11-05 09:41] AleCandido commented on #73
For this I believe we could even add a tiny function in the python package: we would like the actual bindings (`pyo3`) to be as thin as possible and not to add anything that is not in the crate, but I believe that it's fine instead to add convenience wrappers in the very last python layer.

[2021-11-05 09:42] AleCandido commented on #73
Stupid observation:
https://github.com/N3PDF/pineappl/blob/04da81f7ee923ad963e521a7a3d995ea76616378/pineappl/src/grid.rs#L165
wouldn't be more idiomatic to use `Self` instead of `Order` here?

[2021-11-05 10:19] cschwan commented on #73
No, that's a good point that also clippy complains about; fixed in commit 64bc7e268de40d519c61a419b45aa9eac91b7bab.

[2021-11-05 13:49] cschwan commented on #79
@AleCandido @felixhekhorn Important question: are *the grids* (opposed to the grids convoluted *with PDFs*) for sigma, T24, T35, and for V, V15, V24, V35 the same? In that case we can easily implement this optimization at the level of redefining the luminosity functions.

[2021-11-05 14:22] felixhekhorn commented on #79
No (if I understand correctly) because some processes, e.g. CC DIS or CC DY, can resolve difference between b and bbar, e.g., and hence V24 and T24 are unique

[2021-11-08 12:21] cschwan opened #85 "Improve error reporting for `FkTable` generation"
The methods `Grid::axes` and `Grid::convolute_eko` return an `Option<...>`, which however should really be a `Result<..., GridError>` that specifies what goes wrong if something goes wrong.

[2021-11-08 14:30] cschwan commented on #25
Commit 5569124b243f7d600d296aa9ac7779091952e6e4 introduced a regression, which causes the conversion of fastNLO tables for dijets a single-jet inclusive to fail (numbers do no longer agree).

[2021-11-08 15:05] cschwan opened #86 "Fix regression error in `appl2pine` converter"
Commit 7be49735170334b2f0c6bfbb714d5347810e01f6 introduced a regression error that causes the conversion of APPLgrids to fail (numbers don't agree anymore).

[2021-11-08 15:07] cschwan opened #87 "Fix regression error in `fnlo2pine` converter"
Commit 5569124b243f7d600d296aa9ac7779091952e6e4 introduced a regression, which causes the conversion of fastNLO tables for dijets a single-jet inclusive to fail (numbers do no longer agree).

See also https://github.com/N3PDF/pineappl/issues/25#issuecomment-963217404.

[2021-11-08 17:40] cschwan commented on #86
Commit 1f001761211468467e84be07827593d7ba6efcf0 fixes part of the problem, however, it seems that the introduction of `LumiCache` seemed to have broken something else.

[2021-11-09 10:04] cschwan opened #88 "Remove `Grid::convolute_eko`"
I'd like to rename `Grid::convolute_eko` to `Grid::evolve`, to better reflect what this method does.

[2021-11-10 10:31] cschwan commented on #86
The last problem is fixed in commit 2eb537ce7ebafbac5a8a7929c4963023f6af3379.

[2021-11-10 10:31] #86 closed

[2021-11-17 14:56] felixhekhorn opened #89 "Improve the CLI's documentation of the `remap` subcommand"
To continue the APPL comparison I will need to renormalize the grids - I saw that the `remap` command seems to be able to do such a thing, but I don't know how to use it; i.e. what is the "remap string" - can you provide us with an example?

[2021-11-17 15:20] cschwan commented on #89
The primary purpose of `remap` is to map a one-dimensional distribution to an n-dimensional one (many Monte Carlo programs only produce one-dimensional distributions, and `remap` is our way to work around it). I'm not quite sure this is the proper use in this case, but let's try it anyway to see what you need.

You can find an example here:

https://github.com/NNPDF/runcards/blob/a48e5d4c7c6d2dae3

[2021-11-17 15:33] AleCandido commented on #89
Maybe @cschwan it might be an idea to extend CLI help with examples, at some point.

It's fine that help is the only docs for a CLI (unless you want to write a `man` page, clap-rs/clap#552), but I'd say examples saved my day so many times...

You could also consider to add a couple to https://tldr.sh/

[2021-11-17 17:33] AleCandido opened #91 "Compound FkTables"
Soon we'll have to make "compound" FkTables, and since the new `FkTable` format lies in `pineappl`, then we have to add in here the support for the operations described in https://docs.nnpdf.science/data/th-data-files.html#compound-file-format, that are:

- [ ] `NULL`: `1 -> 1` trivial operation
- [ ] `ADD`: `2 -> 1` sum bins in pairs
- [ ] `SMT`: `n -> 1` sum bins in groups
- [ ] `SMN`: `4 -> 1`

[2021-11-17 17:48] AleCandido commented on #91
Maybe this is fake, since "compound" might be applied by `validphys` and not `apfelcomb`, so we do not have to implement anything.

[2021-11-17 17:53] AleCandido commented on #91
Without "maybe": these operations are only available after convoluting with a PDF, so they can not be implemented at the level of `pineappl`.

Thus I close this issue.

[2021-11-17 17:53] #91 closed

[2021-11-19 11:34] cschwan opened #92 "Add support for different x1 and x2 grid values for `Grid::convolute_eko`"
CC @felixhekhorn @AleCandido

[2021-11-19 11:37] cschwan commented on #85
A related issue is #92, in which case a `None` is unwrapped.

[2021-11-19 11:52] cschwan commented on #73
@AleCandido we need a Python wrapper for this function, then we can close this Issue, I believe.

[2021-11-19 12:03] AleCandido commented on #73
Okay, I'll do immediately

[2021-11-19 12:54] AleCandido commented on #73
Ok, it has not been straightforward, but it's finally working, see b8d834919fb037dcf9d53a2e6270356395ce6331.

- we need to import the whole namespace `grid::*`, because the required function is generated by a macro (`#[pyfunction]`), and I'm not able to import it otherwise
   https://github.com/N3PDF/pineappl/blob/b8d834919fb037dcf9d53a2e6270356395ce6331/pineappl_py/src/lib.rs#L10
- even if it's w

[2021-11-19 12:55] AleCandido commented on #73
The alternative would be to make it a static method of `Order` in python, see https://pyo3.rs/v0.15.1/class.html#static-methods.

What do you prefer?

[2021-11-19 13:00] cschwan commented on #73
I'd prefer static method because that's how it's done also in Rust!

[2021-11-19 13:02] AleCandido commented on #73
Okay, I'll do it in a moment

[2021-11-19 13:05] AleCandido commented on #73
Done in 388536618a767a89917fa0c8b934c385b902ebda

[2021-11-24 10:00] #92 closed

[2021-11-25 15:53] felixhekhorn opened #94 "Merge grids with different xgrids"
[code]

likewise (and easier to reproduce)
[code]

this is also the case for some other dataset, but unfortunately I'm no longer able to reconstruct ...

[2021-11-26 09:19] cschwan commented on #94
These two files have the same bin limits and in that case `merge` tries to add the grids together - but you want the files append the files, basically. To do that you have to use first use `remap`, see https://github.com/N3PDF/fktables/commit/e2c0b351121dabed336415901bad18b6417355bf how to do that. I've modified the `convert_applgrids.sh` of https://github.com/N3PDF/fktables, which now generates `

[2021-11-26 09:19] #94 closed

[2021-12-03 11:35] felixhekhorn commented on #73
@AleCandido could you please make this more consistent? i.e. bind the content inside Python

[code]

... and I'm still in favour of having directly a method on grid ;-)

[2021-12-03 11:42] cschwan commented on #73
This looks a bit strange indeed. Why does `PyOrder::create_mask` accept `orders` as `Vec<PyRef<PyOrder>>`? Is the `PyRef` really needed?

[2021-12-03 11:53] AleCandido commented on #73
I'm currently checking it, nevertheless:
- I can tell immediately that `PyRef` was strictly needed, even if I don't remember why (you can try yourself to remove it)
- I'm trying to understand what does it mean "bind the content inside Python"
- it is not a method of grid in python because it is not in pineappl, but I'm always open to add features in the last python layer of the bindings, so decide

[2021-12-03 11:58] felixhekhorn commented on #73
- add a method `create_mask` to `Order`
- accept `Order` as type
- make the cast between `Order` and `PyOrder`

[2021-12-03 12:07] cschwan commented on #73
There shouldn't be any use of `Order` even right now, it should always ask for `PyOrder` if I'm not mistaken.

[2021-12-03 12:10] AleCandido commented on #73
I added the conversion between `Order` and `PyOrder` in b4675aca3ed68c66f638fcb55b764431dee0b2e7

[2021-12-03 12:12] AleCandido commented on #73
Do you still want even the bindings as a `Grid` method?
(of course it costs me nothing, I just have to write the very same call you need replacing `pine` with `self`...)

[2021-12-03 13:01] cschwan commented on #73
Sorry, I'd confused `Order` in Rust with `Order` in Python.

[2021-12-03 13:05] cschwan commented on #73
In Rust I'd definitely don't want it, because I don't want two different ways of solving a problem, especially if the number of lines doesn't differ between the two. In Python I don't know how to decide that.

[2021-12-03 14:10] felixhekhorn commented on #73
I'm not happy but I can accept ;-)

PS: I would say there is no problem in adding syntactical sugar, as long as you use the same implementation - which of course we would ...
PPS: keep in mind that with 80 characters by line "same number of lines" is a challenge ;-)

[2021-12-03 14:10] #73 closed

[2021-12-03 14:12] AleCandido commented on #73
I can tell you the pythonic way: the same, no repetition.

[code]

[2021-12-03 14:14] AleCandido commented on #73
Still, I can accept syntactic sugar. And it's not a problem from the point of view of bindings: we imposed that in the `pyo3` part there should be nothing more than what is in main `pineappl` crate, but in the pure python interface for me is perfectly fine to do whatever we prefer.

[2021-12-16 15:07] cschwan commented on #52
Commit 46f3e5f96bed627d5745536fb6074cbdc95b8ec7 adds a method `Grid::delete_bins` which does what is needed at a very basic level. We still need:

- [ ] Python bindings and
- [ ] a CLI subcommand (possibly after merging https://github.com/N3PDF/pineappl/pull/95)

[2021-12-16 17:00] AleCandido commented on #52
Python bindings provided in cd7bbaf298326fc5edcdcb2b75868784816dfe5e

It builds, but I had some difficulties to test it. I tried in the interpreter, but it seems not to change the grid...

[2021-12-21 14:23] cschwan opened #96 "Investigate possible Python interface improvements"
I've just seen the following on reddit:

https://www.reddit.com/r/rust/comments/rk12bg/writing_rust_libraries_for_the_python_scientific/

Can we learn anything from it for our Python bindings? In particular I noticed the following points:

- their wheel publishing action seems much simpler (see also this [comment](https://www.reddit.com/r/rust/comments/rk12bg/comment/hp8xn2a/?utm_source=share&utm_

[2021-12-21 14:57] AleCandido commented on #96
Thank you very much, I guess one of the reasons why it has been rather difficult to write these bindings actually was lack of examples, so it's good to have some more.

Unfortunately, I don't believe those points are much relevant, but this boils down to opinions in some cases.

Let's provide details:
- **workflow**: our workflow is already simple enough, the possible improvements are the followin

[2021-12-21 15:08] cschwan commented on #96
@AleCandido OK thanks for going over the points I mentioned. Feel free to leave the Issue open (for the points you mentioned) or to close it!

[2021-12-21 15:16] AleCandido commented on #96
I guess I can leave it open to improve a bit the `wheels.yml` workflow, I'll do it.

The last point has already its own dedicated issue, while the second one I'm not sure we want. In case, I would open another issue/PR to implement it.

[2021-12-27 11:04] cschwan commented on #87
Fixed in commit 628472a4ce8c6b9a000456200ce481faac21bb3c.

[2021-12-27 11:04] #87 closed

[2021-12-27 11:08] cschwan commented on #25
The previously mentioned problem is fixed in commit 628472a4ce8c6b9a000456200ce481faac21bb3c.

[2021-12-31 20:11] cschwan commented on #89
Commit 25fc84a413fb968b192ddd103448cc58756c3b5f adds additional documentation and even a few basic examples. Let me know what you think!

[2022-01-02 14:12] cschwan commented on #96
Here's another discussion: https://www.reddit.com/r/rust/comments/rtnwd5/python_extensions_in_rust_lessons_learned_from/

[2022-01-02 15:05] AleCandido commented on #96
Interesting in general, thanks :)

Do you believe there is anything in particular we should take care in `pineappl`? (and we're not already doing...)

[2022-01-02 20:12] cschwan commented on #96
I still have to read it, it was also a way to 'bookmark' it :smile:

[2022-01-03 11:17] AleCandido commented on #89
Sorry not to have replied before. It looks good, just a small observation:

- it seems like you amended the commit or something like that, so the hash is actually c3197dd54c14aeafa1384299e3bb0943fc0ea0e2 (the one you provided isn't belonging to any branch at the moment)
- (and of course I don't like that the thing needed to be duplicated, but we've already discussed this)

[2022-01-03 11:36] cschwan commented on #89
The commit probably doesn't belong to any branch because I've merged it; what is being duplicated, where is the discussion?

[2022-01-03 12:21] AleCandido commented on #96
In commit 22964c2774fca019e10acc64162b71b988af23db I actually merged the windows + Mac workflows, now they should be more consistent.

As usual, I couldn't test, since it requires running.
Nevertheless, the change is tiny, so I don't expect much noise, and all the jobs will run independently in any case (less repetition in the declaration, same repetition in the run, as wanted).

Whenever we like

[2022-01-03 12:25] AleCandido commented on #89
The duplication is simply in the test: since you edited the message, you had to duplicate the string in the test.
Since this requires manual sync at any update, it is fragile (https://github.com/N3PDF/pineappl/pull/95#issuecomment-987631410).

[2022-01-03 12:31] cschwan commented on #96
Let me make another beta release to test it...

[2022-01-03 17:20] cschwan commented on #96
It seems to have worked, there I'll close this Issue.

[2022-01-03 17:20] #96 closed

[2022-01-03 17:20] cschwan commented on #89
I think the main Issue here has been addressed, therefore I'll close it.

[2022-01-04 10:34] cschwan commented on #52
I'm preparing a test to check this and there seems to be a problem indeed; `Grid::delete_bins` seems to have no effect.

[2022-01-04 11:17] cschwan opened #97 "Fix `Grid::convolute_subgrid`"
The method `Grid::convolute_subgrid` returns wrong results for many subgrid types because reweighting isn't considered, see also the following comment:

https://github.com/N3PDF/pineappl/blob/7b8b306c008ffded9efcd62cb43b0c9b06eb7f6d/pineappl/src/grid.rs#L636

This affects the following subgrid types for which it must be fixed:

- [ ] `LagrangeSubgridV1`
- [ ] `LagrangeSubgridV2`
- [ ] `LagrangeSpa

[2022-01-05 10:40] cschwan commented on #52
Commit fccd89065b1df9693ef20e820d13ded9db5f240f fixes the problem, and commit 191f62ccad633013357e969cfad4406963dfc895 makes sure it stays fixed. However, the current implementation has the limitation that only bins from the left and/or from the right can be removed. Is that a problem for our purposes?

[2022-01-05 11:31] cschwan commented on #52
Commit 5e629bff0315c69a0fd7693654cc57dfcdab49d7 fixes yet another bug and commit aeddd4fb907ec0fbb91cc01972e539f8bcf67c41 adds the CLI.

[2022-01-05 14:46] AleCandido commented on #52
I'm not sure to have understood what the limitation consists of...

Can you make an example of something I can't do?

[2022-01-05 15:06] cschwan commented on #52
Say you have 10 bins you can't delete 3 and 4, for instance, because they are neither at the left (first bin would be 0) nor are they at the right (last bin would be 9).

[2022-01-05 17:23] AleCandido commented on #52
Ok, now I understand, and it might be a limitation in general, but (if I remember correctly) the filters in `apfelcomb.db` should be all at the beginning.

In any case, we'll raise a dedicated issue *if and only if* we find something for which is needed. For the time being it is perfect as it is.

(I was confused by the words *left* and *right*, since each bin has a left end and a right end, but n

[2022-01-05 20:15] cschwan commented on #52
I was bit imprecise, so thanks for asking for a clarification! I agree with your proposal to open a separate Issue when this becomes a problem, and we'll know that as soon as the `todo!()` macro panics.

[2022-01-07 07:54] cschwan opened #98 "Add support for additional couplings"
For effective field theories it would be desirable to support additional couplings, see for example here: https://answers.launchpad.net/mg5amcnlo/+question/699629. Without it PineAPPL adds all contributions that have the same coupling in alpha and alphas together.

Technically this requires changing the `Order` struct, which we can do in a new file format, which requires https://github.com/N3PDF/p

[2022-01-07 11:40] felixhekhorn commented on #89
- There is a small typo (`00.5`)
https://github.com/N3PDF/pineappl/blob/aeddd4fb907ec0fbb91cc01972e539f8bcf67c41/pineappl_cli/src/remap.rs#L28

- I still don't get properly the `|` operation: `0,1,2;0,1,2|0,2,4` is this equivalent to `0,1;0,1,2` + `1,2;0,2,4` (where `+` is meant in a mathematical set meaning ...)

[2022-01-07 11:47] cschwan commented on #89
Thanks for reviewing it, @felixhekhorn!

The '|' operation is exactly the '+' operation you described :smile:!

[2022-01-07 11:53] felixhekhorn commented on #89
fine! the operations is to be read as "OR" ... maybe you could give this specific example?

[2022-01-07 12:06] felixhekhorn commented on #52
Unfortunately we will hit this case ... since I had already a very preliminary look at the cutting, I realized this already (but thought back then, that in fact you did NOT have this limitation): the case is `DYE866P`

- it is in the runcard: https://github.com/NNPDF/fktables/blob/7f34897005a90a6bcca38bf45a90b8dfb599dc99/data/runcards/NNPDF40_nnlo_as_01180_1000.yml#L32
- and it has a bin in the mi

[2022-01-07 12:07] cschwan commented on #89
What I understand is that the documentation needs to improved for '|', so I'm opening this Issue again.

I wouldn't call the `|` operation OR because the number of fields is fixed by the previous dimensions For instance, if you have the following prescription:

[code]

there must be `p = n * m` bin limit specifications (`bls`) separated by `|`, as in `bls1|bls2|...|blsp`. If you have more dimensio

[2022-01-07 12:10] cschwan commented on #89
You can also think of `|` as making the bin limits dependent on the previous dimensions, whereas without it the cartesian product makes sure that all the bin limits are independent of each other.

[2022-01-07 12:17] cschwan commented on #52
OK, no problem, I'll take care of it.

[2022-01-07 12:51] AleCandido commented on #89
I'm still missing something: in the example there is written

so I get that the `0,1,2` before `|` is referred to the `0,1` in the first section (before `;`) and `0,2,4` is related to `1,2` in the first section.

Later on, there is the other example on syntactic sugar for repetition:

but in the case there are 2 bins in the first dimension (before `;`), i.e. `0-1` and `1-2`, while they're mapped o

[2022-01-07 12:58] AleCandido commented on #89
About the `|` operator: maybe you don't care that much, but in Python they assigned a meaning to that operator in the specific context of sets. It means [union](https://docs.python.org/3/library/stdtypes.html#frozenset.union).

(Very recently they started using that operator even in the context of types, like in [Typescript](https://www.typescriptlang.org/docs/handbook/2/everyday-types.html#union-

[2022-01-07 13:02] AleCandido commented on #52
Oh damn, you're right.

There are also a couple of [CMS grids](https://github.com/NNPDF/fktables/blob/7f34897005a90a6bcca38bf45a90b8dfb599dc99/data/apfelcomb.dat#L47-L48).

[2022-01-07 13:27] cschwan commented on #89
You're right, the example is clearly wrong, good job for spotting the mistake!

[2022-01-07 13:42] felixhekhorn commented on #89
That was actually what I was thinking about: "OR" in a bitwise sense, really meaning UNION (as implemented in C).

however, as @cschwan said, this is not really what the operator is doing ... "THEN" would be a better name, if I understood correctly

[2022-01-07 13:43] felixhekhorn commented on #89
and this should really be mentioned in the docs

[2022-01-07 13:49] AleCandido commented on #89
I guess there is no default name for that operator. @cschwan actually needs a separator further than `,`, `;`, and `:`, but unfortunately all common punctuation characters have some meaning as operators.

Most likely `|` is good enough: `/` might also be fine (and it also has a well defined, different meaning), and `\` is bad, since it's used for escaping and would give plenty of issues.
All the o

[2022-01-07 13:56] felixhekhorn commented on #89
The operator `|` is perfectly fine - I think, this is just a documentation issue; how to explain the operation in a proper way ... (actually `+` would have been also a good choice, but let's stick to what we have )

[2022-01-07 14:00] AleCandido commented on #89
Yeah, compare to other choices `+` is not that bad, you're right. But `|` is good enough, I pointed out the other meaning just to keep it mind while explaining the local one.
And as you said, the union is somehow the refinement of the OR meaning, even though it's a different one. But being "compatible" it has been a good choice, unfortunately here we don't have such an option...

[2022-01-07 14:21] cschwan commented on #89
I'd say `+` is confusing, because you'd assume it to be part of a number, for instance as in `+1,2;-1,2` (technically not needed, but instinctively I think I would read it like that). It would also be confusing if you have negative bin limits, for instance `-1,1+-2,2`. With the pipe this is clearly better: `-1,1|-2,2`. I agree with @felixhekhorn that this really is a documentation problem.

[2022-01-07 15:23] cschwan commented on #89
Commit f90f3ca90b56e818d62d65e4aa038c29fa35c4f7 improves the description. Please let me know what you think.

[2022-01-07 16:31] felixhekhorn commented on #89
Definitely better. Maybe we can improve even more? How much white space or space in general can we use? how about going more into actual Python doc syntax?

[code]

[2022-01-07 16:32] AleCandido commented on #89
For me, it's perfect: the concept is a bit tough, but there is nothing we can do, except explaining as good as possible, and I'd say it's well explained.

Unfortunately now it's a whole bunch of text, so I'd like to have more formatting options (like markdown) to make it more readable.
`clap` doesn't offer anything like that, so the only other option might be to move it to an external source (most

[2022-01-07 16:35] cschwan commented on #89
Separating the examples from the description is a very good idea and formatting it better also. As far as I understand the text is simply dumped

[2022-01-07 16:43] AleCandido commented on #89
I already had a look some weeks ago, but that's all they offer (and as you said it's simply a print after the generated help, or before with the partner function).
There are libraries that output all termcodes for formatting, like https://github.com/Canop/termimad (in python we use https://github.com/Textualize/rich), but I don't know if it's a good idea to pass a string with termcodes to `clap`.

[2022-01-07 16:46] felixhekhorn commented on #89
that might actually be the best option ... since only we can have infinite format

[2022-01-07 17:01] AleCandido commented on #89
Duplication issue still remains, because it was mainly testing the part generated by `clap`.
To be honest, I like a lot that with `rustup` you can bring up docs offline, but maybe the solution would be to simply use docstrings, and then we can both link https://docs.rs, and you can also obtain offline with `cargo doc --open`.
Still, having it in terminal is much more direct...

[2022-01-07 17:06] cschwan commented on #89
We probably want this: https://github.com/clap-rs/clap/issues/2389. I can try the `verbatim_doc_comment` attribute in the meantime. Moving the documentation to somewhere else online might also be a good idea.

[2022-01-08 10:26] cschwan commented on #83
Here's what I'd like to change in a newer version:

- [ ] merge the types `BinInfo` and `BinRemapper` into `BinLimits`. The reason for having them separate is historical only (saw above) and merging them will make parts of the code much easier
- [ ] merge `Mmv3` into `Grid`, which means that metadata will always be present making metadata-related code much shorter
- [ ] change the `Order`'s member

[2022-01-08 10:37] AleCandido commented on #83
Just to have an idea: can you tell which are the subgrid types we're still using, and where?
I know a couple of them (maybe a bit more), but I'm definitely puzzled about the others...

[2022-01-08 11:00] cschwan commented on #83
Here's an overview:

- `EmptySubgridV1`: keep, this is needed to optimize empty grids
- `ImportOnlySubgridV1`: **remove**, because
- `ImportOnlySubgridV2`: keep, is more general than `ImportOnlySubgridV1` in that it supports grids where the facorization scale is different from the renormalization scale
- `LagrangeSubgridV1`: **remove**, because it doesn't support DIS
- `LagrangeSubgridV2`: keep
-

[2022-01-10 15:01] #52 closed

[2022-01-12 08:37] cschwan opened #99 "Clarify which uncertainties `convolute` and `pdfunc` shows"
The subcommand `convolute` shows the two columns `neg unc` and `pos unc`, but it's not clear what this uncertainty is, see also https://github.com/NNPDF/runcards/pull/121#issuecomment-1010768710. We need to reflect that this shows the scale uncertainty.

[2022-01-12 08:51] AleCandido commented on #99
Instead of `unc` an alternative name might be `var` (for *variation*, same number of letters).
Other, less appealing alternatives (to me) are: `scvar` (more letters), `scv` (barely comprehensible).

In any case, I believe we can call it in whatever way, the important thing is just to document the command, with a one/two-lines explanation of what are the fields (in the CLI help).

[2022-01-12 10:16] cschwan commented on #99
I prefer it more explicitly: `scale uncertainty` and `PDF uncertainty`. By using two columns for these labels we only waste two characters in the first case and none in the second case.

[2022-01-12 10:17] cschwan commented on #99
Commit d7bbf30f64a357b34f800e570f6c1c1b19bdba12 fixes this Issue.

[2022-01-12 10:17] #99 closed

[2022-01-12 16:54] cschwan commented on #44
Fix with commit 678341e90378c568a1e32d395800df354c4f46f2, simply run `pineappl subgrids --mur ...` or `pineappl subgrids --muf ...` to print the corresponding grids.

[2022-01-13 14:14] felixhekhorn opened #100 "Calling `convolute` without a PDF set triggers a panick"
[code]

[2022-01-13 14:26] felixhekhorn opened #101 "Factorization scale is not computed correctly"
- The factorizations scales for `NMC_NC_EM_P_F2` are bugged and I don't understand why
- as we're in DIS Q2 = muF2
- in the observable card we have for the last bin `Q2: 99.03` - see https://github.com/NNPDF/runcards/blob/58c13d69787fc35cfd7f3ca9091f08ef1608ebf0/nnpdf31_proc/NMC_NC_EM_P_F2/observable.yaml#L837
- and this is also reflected in the grid:
[code]
- but this is *not* reflected by the su

[2022-01-13 14:40] cschwan commented on #100
The reason is that you've forgot the pdfset, but it should tell you that, of course. For some reason it ignores `min_values = 1` in the following line:

https://github.com/N3PDF/pineappl/blob/725e4109c2b9f90cc883abd251c190409fe9f22c/pineappl_cli/src/convolute.rs#L16-L17

[2022-01-13 14:43] felixhekhorn commented on #100
I know :upside_down_face: but stupid users like me may forget that on the first shot ;-)

[2022-01-13 15:11] cschwan commented on #100
@felixhekhorn thanks for the report, that was indeed a bug not only in `convolute` but also in `merge` and `plot`. Commit 95b7341ecf607e23234d60fde6c73fe99596827a should fix the problem. Can you please check if it works for you? In that case please close this Issue.

[2022-01-13 15:14] cschwan commented on #101
@felixhekhorn `subgrid --muf` prints the *unsquared* factorization scale, so `9.951 * 9.951 = 99.022401` which is much closer to the desired value (the last digit might be off due to rounding). Should I also add `--muf2` and `--mur2` options to print the squared values?

[2022-01-13 15:31] cschwan opened #102 "Add `--muf2` and `--mur2` options to `subgrids` subcommand"
These are useful as shown in Issue https://github.com/N3PDF/pineappl/issues/101.

[2022-01-13 15:32] felixhekhorn commented on #101
ok, I see - yes, please, if that is not a big effort a `--muf2` would be appreciated

[2022-01-13 15:38] cschwan commented on #101
It seems that the EKO is incomplete. Here's the relevant piece of code:

https://github.com/N3PDF/pineappl/blob/ca86b939d74707e1197c4cfa8387f1fd3402921e/pineappl/src/grid.rs#L1512-L1524

These lines search `eko_info` for the proper factorization scale value, but this object comes from outside so there's something wrong at a higher level. But also this method needs proper error handling; see https:

[2022-01-13 15:40] cschwan commented on #85
One instance is given in https://github.com/N3PDF/pineappl/issues/101#issuecomment-1012252389, where instead of a panic an error should be returned instead. That could be done at the very start and only once.

[2022-01-13 15:41] felixhekhorn commented on #101
true, but we use `axes` to determine which EKOs we actually need - so the problem is there

[code]

[2022-01-13 15:50] cschwan commented on #101
Ah :smile: I see, so this comes full circle... I'll have a look at it!

[2022-01-13 15:57] cschwan commented on #102
Implemented in commit 5a209b7b54343ca53f6931fb7f918baba6f59bad.

[2022-01-13 15:57] #102 closed

[2022-01-13 16:11] cschwan commented on #101
@felixhekhorn please try it again with commit e91a7df606e3cc36f52108545319c94a267456a9.

[2022-01-13 16:15] felixhekhorn commented on #101
yes, seemed to have done the trick:
[code]
(aaa tmux mess - don't worry ;-) )

[2022-01-13 16:15] #101 closed

[2022-01-13 16:20] felixhekhorn commented on #101
@AleCandido I'm rerunning the EKOs at the moment, though only one of them - the other one can be linked since they are identical

[2022-01-13 17:31] AleCandido commented on #101
Ok, thank you very much :D

[2022-01-14 16:16] cschwan commented on #56
With commits 678341e90378c568a1e32d395800df354c4f46f2, d26fc2b6d3374a8eaf04aa1d65df37ba30d4dd27 and 5a209b7b54343ca53f6931fb7f918baba6f59bad this is completed.

[2022-01-14 16:16] #56 closed

[2022-01-19 15:42] Radonirinaunimi opened #104 "PDF sets that cannot be extrapolated beyond a given max value"
There are LHAPDF sets that cannot be extrapolated beyond a certain maximum value `xMax` (not actually sure if this a pathology). An example of error that is raised by LHAPDF during such a scenario is given below:
[code]
This causes `pineappl` to fail when say performing `convolute`. What would be the appropriate way to deal with this?

[2022-01-19 15:45] cschwan commented on #104
That should be considered a bug, and I suppose I can fix it by simply setting the PDF to zero outside the valid range for x.

[2022-01-19 15:50] cschwan commented on #104
@Radonirinaunimi can you tell me a PDF for which this happens? I'd like to test it myself.

[2022-01-19 15:52] Radonirinaunimi commented on #104
@cschwan Thanks for having a look at this. [Here](https://www.wiki.ed.ac.uk/download/attachments/515703702/220113.PDF4LHC21_40.zip?version=1&modificationDate=1642062696000&api=v2) is an example.

[2022-01-19 16:23] cschwan commented on #104
Is there a type in the `PDF4LHC21_40.info` file? I see a `Particle: 2312` there, but for a proton it should be `2212`.

[2022-01-19 16:24] cschwan commented on #104
Commit c0144e4505fda1f4a835d3a0428b4acefe371197 should fix the problem. Please close the Issue if you can confirm that.

[2022-01-19 16:29] Radonirinaunimi commented on #104
Yes! This is a typo.

Let me try this now.

[2022-01-19 16:46] Radonirinaunimi commented on #104
So, after `cargo install --path pineappl_cli`,  `pineappl convolute GRID PDF4LHC21_40` still fails. Running with `RUST_BACKTRACE=full` gives the following:
[code]
Did it work for you?

[2022-01-19 17:29] cschwan commented on #104
That's because of the PDF set doesn't contain a proton:

You should edit the `.info` file so that you have `Particle: 2212`. I admit that the error message doesn't reflect that.

[2022-01-19 17:43] Radonirinaunimi commented on #104
Silly me! I have changed it but then overwrote it again when unzipping (stupid form my side). That said, the error messages would have  would have they been more descriptive. There was no clear indication whether the error is coming from LHAPDF or pineappl.

Closing as solved.

[2022-01-19 17:43] #104 closed

[2022-01-29 10:32] AleCandido commented on #89
I believe we already got something pretty good, what do you think is still missing for this? @cschwan

We could do a much better job if `clap` exposed more tools, but given the current status I believe is fine.

The other option of documenting `pineappl_cli` crate (and publish documentation) is always available, though I consider that it is not needed specifically for this issue (but we could want

[2022-01-31 11:07] cschwan commented on #89
@AleCandido I agree, let's close this Issue.

[2022-01-31 11:07] #89 closed

[2022-01-31 11:51] cschwan opened #108 "Improve Python interface testing and test coverage"

[2022-01-31 11:52] #84 closed

[2022-02-02 09:52] cschwan opened #109 "Add subcommand to modify hadronic initial states"
When calculating the predictions for collisions such as anti-proton with proton, or lead with proton, the generators typically generate grids that must be convoluted with PDFs of the corresponding hadrons. This is disadvantageous if one wants to *fit* the PDF of a single hadron. Therefore we need a subcommand that transforms the luminosity function and subgrids such that the desired PDF is used fo

[2022-02-08 11:57] cschwan opened #110 "Keep a log of modification dates and PineAPPL versions"
Most modifying operations should add an entry to the metadata serving as a log, containing

1) the operation that was performed
2) the date the operation and
3) the PineAPPL version that was used.

The following operations are interesting for us:

- `Grid::convolute_eko` in the generated FK-table
- `Grid::delete_bins`
- `Grid::merge`
- `Grid::merge_bins`
- `Grid::optimize`
- `Grid::scale`
- `Grid:

[2022-02-08 19:16] AleCandido commented on #110
So, I guess we give up with the idea to add something at `Grid::write`, and the log is added directly in memory (even if it's not dumped), isn't it?

[2022-02-09 07:17] cschwan commented on #110
@AleCandido Well, `Grid::write` can't know if the other methods don't add to the log. But without a final `Grid::write` the log wouldn't be written to disk, so effectively it does make the change. How would you propose to do it instead?

[2022-02-09 07:36] AleCandido commented on #110
Nothing else, perfectly fine like this.

I simply thought that you would a written a log of writes, that of course would miss the information on the operations (and both multiple and no operations would be collapsed on a single one), but it would have been always present. So, even if you introduce a new method without adding the logging part, it could not escape the default logging on `Grid::write

[2022-02-09 08:24] cschwan commented on #110
That's more or less what I was thinking about!

[2022-02-09 09:20] cschwan opened #111 "Add subcommand to show the contained perturbative orders"
We need a subcommand to show the perturbative orders contained in the grid.

[2022-02-09 09:21] felixhekhorn commented on #110
I guess something like this?
[code]

[2022-02-09 09:23] cschwan commented on #111
This was needed here: https://github.com/NNPDF/runcards/pull/117#issuecomment-1012964704, to give an example.

[2022-02-09 10:18] cschwan commented on #110
Exactly!

[2022-02-09 12:59] AleCandido commented on #110
Maybe I would fix the element at four fields, with the last one a string containing method specific information (e.g. for `Grid::convolute_eko` might be a hash of the operator, or some other kind of brief summary).

[2022-02-09 14:12] cschwan commented on #110
@AleCandido good idea!

[2022-02-09 14:14] felixhekhorn commented on #110
with an emphasis on brief ;-)

[2022-02-10 07:57] #82 closed

[2022-02-10 09:19] cschwan commented on #108
One important test we've got here: https://github.com/N3PDF/pineappl/pull/107#issuecomment-1030602933

[2022-02-10 09:21] cschwan commented on #111
This is implemented in commit 4530f1a74d128f85e0153e05e77ab7d61bc92774.

[2022-02-10 09:21] #111 closed

[2022-02-10 11:50] felixhekhorn opened #112 "Move pineko compare here"
Since we were thinking to dissolve `pineko` and to merge it with `fkutils` I was wondering whether we could move the compare script https://github.com/N3PDF/pineko/blob/main/src/pineko/comparator.py inside `PineAPPL` - more specific into `pineappl diff` since the functionality is very similar. The only addition is the restriction of orders onto the process level grid, something that proved very us

[2022-02-10 14:35] cschwan commented on #112
The binning information is printed, but I can add a flag that selects a specific subset of orders. For your purposes, the comparison of FK tables and PineAPPL grids, the flag `--ignore-orders` should do the trick. Can you confirm that?

[2022-02-10 15:01] cschwan commented on #112
@felixhekhorn This is clearly a bug, because if we take the first output seriously, both grids are exactly the same - which they clearly aren't.

[2022-02-10 15:23] cschwan commented on #112
@felixhekhorn It's not because it's the EW coupling `alpha` and not the QCD `alphas`!

[2022-02-11 06:44] #81 closed

[2022-02-11 09:47] cschwan commented on #112
@felixhekhorn In commit df89a23344a4ba523fe2de40ff896de2a8d5ab76 I changed the behaviour of `pineappl diff` slightly to fit our needs. Could you have a look at it? It should cover at least two cases:

1) compare a converted APPLgrid/fastNLO table with a PineAPPL grid generated from us: `pineappl diff --ignore-lumis --orders2=a2,a2as1 appl-converted.pineappl mg5-generated.pineappl`. In that case th

[2022-02-11 09:52] cschwan opened #113 "Improve APPLgrid/fastNLO converters"
In some datasets several bins are combined together, something that isn't detected in `./appl2pine`, see here: https://github.com/NNPDF/fktables/issues/17. This should be either detected automatically or the grid should be written out despite the failing tests.

Furthermore, we need an option to manually specify the `alpha` order of the process, which isn't stored in the grids.

[2022-02-11 11:21] cschwan commented on #79
@scarlehoff The short answer is no. How important is that for the fit in terms of the timescale?

I'm a bit hesitant to implement because I'm still wondering what the proper way to do it would be. Isn't this technically a different basis?

In any case I'd like make the assumptions explicit somewhere so that the user can't use a PDFs where these assumptions are not fulfilled.

[2022-02-11 11:27] scarlehoff commented on #79
When we do the fit with all the tables the memory is going to grow quite a bit and thus the fits will take longer. It's not a disaster but it's a big QoL feature.'

Yes and no. It's just an optimization over the evolution basis at a given scale.

One possibility is that this is done at loading time, so that one can ask for the fktable table or the optimized_fktable where some of the values are sum

[2022-02-11 11:40] cschwan commented on #79
I see, that why I've added this to the v0.5.0 milestone.

Would the interface to the fit understand if I'd remove T24, T35, V15, V24 and V35 from the list of luminosities or should I keep them in there (their contribution would be zero)?

@felixhekhorn @AleCandido I'd suggest to add one parameter to `FkTable::optimize`, because somewhere higher up the theory should must tell us which assumptions w

[2022-02-11 11:41] scarlehoff commented on #79
Since this is an optimization feature I guess all 0s should be removed for maximum optimization.

[2022-02-11 11:46] felixhekhorn commented on #112
Seems alright :+1: close?

[2022-02-11 11:48] cschwan commented on #112
This'll be fixed in https://github.com/N3PDF/pineappl/issues/113.

[2022-02-11 12:14] AleCandido commented on #79
In any case, we don't want this to be a breaking change: we want the fit to work without, but it would be quite bad if it's not going to still work with the 0s.

Thus, I propose to release v0.5.0, and start a v0.5.1 milestone

[2022-02-11 12:50] cschwan commented on #79
Since `FkTable::optimize` doesn't exist yet, contrary to what I said above, we can add `FkTable::optimize` which accepts one parameter that specifies the assumptions. This wouldn't be a breaking change, and then we can add it in v0.5.1, as @AleCandido said.

[2022-02-17 16:00] felixhekhorn opened #114 "Allow no scale variation in `convolute`"
I'd like to run `pineappl convolute grid NNPDF40_nnlo_as_01180  -s0` and the output table not to show any sv columns

[2022-02-17 16:08] cschwan commented on #114
That makes sense. In fact I think we shouldn't show it for `-s 1`. Do you agree?

[2022-02-17 16:15] cschwan commented on #114
This is implemented in commit a5e91e0d8bfaa4171bcb6aa49b40134c48397dd0.

[2022-02-18 10:49] cschwan opened #116 "Update webpage"
We have a webpage at https://n3pdf.github.io/pineappl/ using gh-pages and we should update it!

[2022-02-18 11:13] cschwan opened #117 "Strip out out empty orders of grids"

[2022-02-18 11:16] cschwan opened #118 "Release version v1 of the file format"
Here's what I'd like to change in a newer version of the *file format*, `v1`, replacing the current (`v0`) one:

- [ ] merge the types `BinInfo` and `BinRemapper` into `BinLimits`. The reason for having them separate is historical only (see https://github.com/N3PDF/pineappl/issues/83#issue-1039614822) and merging them will make parts of the code much easier
- [x] merge `Mmv3` into `Grid`, which me

[2022-02-18 11:26] cschwan opened #119 "Add single- and half- (?) precision float subgrid types"
Currently we store the full double-precision information in subgrids, but this is more precision than we need; the interpolation error is typically sub-per mille, meaning that we get four to five correct digits. This means we should be able to store all numerical data with single-precision floats (`f32`), and maybe we can even get away with half-precision floats (`f16`).

[2022-02-18 11:36] cschwan commented on #7
I no longer think this to be a good idea, because the C factors are PDF-*dependent*, and therefore it should not be covered in PineAPPL. In the long term we should strive towards replacing them with proper NNLO grids, see also the discussion here: https://github.com/N3PDF/pineappl/discussions/62.

[2022-02-18 11:36] #7 closed

[2022-02-18 11:52] AleCandido commented on #119
I perfectly agree, I'm planning to do the same thing in `eko` and `yadism`.

Since we usually do not target precision less `1e-6` (and this is really the best we hope for). Half precision might be a bit too hard:
[code]
It might be interesting to keep as an option `f16`, but it can result even in considerable overhead, so I'm not sure.

[2022-02-19 17:40] cschwan commented on #83
I'm closing this as support for the original is supported in v0.5.0. Further development should be discussed in #118.

[2022-02-19 17:40] #83 closed

[2022-02-23 09:33] cschwan opened #121 "Strip empty `(muf2, mur2)` entries in subgrids with dynamic scales"
When we generate grids using https://github.com/NNPDF/runcards with a proper dynamic scale choice - that means a scale prescription that has more than one value for each subgrid - we keep the full scale information in the optimized subgrids. This is not a problem as far as storage is concerned, but we can not see which scale values are 'empty' and which are 'filled'. This is a problem

- if we wan

[2022-02-23 12:14] cschwan commented on #113
Commit 4379f96edb16fbcce86ca48f2f222578d9f757d5 adds support for setting the `alpha`, which can be given as a third argument. If it's not given it's set to zero (old behaviour).

[2022-02-23 13:04] cschwan commented on #121
Implemented in commit a80529b8d28967873491831b244e24997eca2451 for the conversion of `LagrangeSubgridV2` to `ImportOnlySubgridV1`.

[2022-02-23 13:04] #121 closed

[2022-02-24 15:24] #113 closed

[2022-02-24 15:39] cschwan commented on #116
@felixhekhorn I agree with every point, that's a very good list. I wonder whether we shouldn't have a single homepage for each of our tools but instead one homepage for all of them; you already mentioned runcards, which uses also yadism and then we have of course also EKO and PinEKO.

This homepage would then mainly serve as an overview and explain what is what, where you can read details and show

[2022-02-24 15:47] AleCandido commented on #116
@cschwan I believe we can do both:
- individual home pages for the tools, that are more frequently updated (e.g.: at relevant releases) and contain tool-specific information
- a toolchain home page, with overall information and tools description (but without technical information, e.g. about CLI and installation), redirecting to the individual home pages

[2022-02-24 15:49] felixhekhorn commented on #116
Mmm, not so sure, because that one would be bloated - look at the list, this is already quite some stuff; and for eko I expect a similar order of magnitude, since we want to use that one e.g. to show more benchmark plots

agreed

[2022-02-25 10:05] cschwan commented on #79
Commit cf02e33dc65c53343c0276fd411094c6fe2bc95e should implement all interface-visible changes to do exactly what @scarlehoff proposed.

As promised there's one new method `FkTable::optimize`, which requires an `enum FkAssumptions`; please have a look at the documentation of it,

https://github.com/N3PDF/pineappl/blob/cf02e33dc65c53343c0276fd411094c6fe2bc95e/pineappl/src/fk_table.rs#L47-L72

and l

[2022-02-25 10:31] AleCandido commented on #79
I'll update immediately Python interface, I guess there are only two things to bind:

- [ ] extra method `FkTable.optimize()`
- [ ] `enum FkAssumptions`, that is needed as an input

It should not be hard.

[2022-02-25 10:55] AleCandido commented on #79
In 834a041397842c16cedac326e5012632a0e81dab I add the bindings for the method.

I had to make the `FkAssumptions` `Copy` (it's just a plain C-like enum, so it should be fine). In order to be `Copy`, it had to be `Clone` (according to `cargo`, and so I guess `rustc`).

[2022-02-25 11:00] felixhekhorn commented on #79
At this point it would have been worth a dedicated PR ;-)

[2022-02-25 11:28] AleCandido commented on #79
In c63b0ea0b2355b84b8d16b8d767e34513bb830c1 it becomes actually possible to generate `FkAssumptions`, choosing them by string.

Since this mapping is encoded twice:
https://github.com/N3PDF/pineappl/blob/c63b0ea0b2355b84b8d16b8d767e34513bb830c1/pineappl/src/fk_table.rs#L323-L331
https://github.com/N3PDF/pineappl/blob/c63b0ea0b2355b84b8d16b8d767e34513bb830c1/pineappl_py/src/fk_table.rs#L34-L42

I w

[2022-02-25 11:35] cschwan commented on #79
@AleCandido I agree, I'll implement the trait `Display` for `FkAssumptions`, for which I'll probably also make the strings look like exactly like the enum values. We should probably hold off feeding strings into the Python interface until this is final.

[2022-02-25 11:43] AleCandido commented on #79
Ok.

At the moment, it is what it is, if you wish to remove it you can do it, but since it's not part of a release I believe we can keep it, and use creation from Python just to experiment. The moment you have a better candidate, I'll make sure to update.

[2022-02-25 12:26] cschwan commented on #79
Implemented in commit 4427e9ed22c50cb4b8eacbc351c60aee7c01320f.

[2022-02-25 13:53] cschwan commented on #79
Commit 19aa0a5004a906ab5a6ad1a10a8a1fded378d640 should implement everything we need, and adds the option `--fk-table=Nf4Sym`, for instance, to `pineappl optimize`. This will allow us to optimize the already generated FK tables. I still have to test everything, though.

[2022-02-25 14:10] AleCandido commented on #79
Well done :D

Is there anything left more needed (but testing) @scarlehoff?

[2022-02-25 14:11] scarlehoff commented on #79
To first approximation only testing.

[2022-02-25 14:16] cschwan commented on #79
First tests look very promising:

- run `mkdir ../appl_subfktables_opt && for i in *.pineappl.lz4; do pineappl optimize --fk-table=Nf4Sym $i ../appl_subfktables_opt/$i; done` in `/media/FK/fktables/data/appl_subgrids` on dom to optimize the tables - that's surprisingly quick
- the size difference between `appl_subfktables` and `appl_subfktables_opt` is quite nice: 1.3 GB vs. 643 MB, that's a bit l

[2022-02-25 14:26] cschwan commented on #79
Finally it seems to do what it promises:

    pineappl obl --lumis appl_subfktables_opt/200-ATLASDY2D8TEV-aMCfast_obs_0.pineappl.lz4

doesn't show evolution IDs higher than `208` (V8) and `115` (T15). Prior to optimization this grid has 91 luminosities, after optimization there are only 45 luminosities which is plausible if you think about the size reduction.

[2022-02-25 14:32] cschwan commented on #79
As far as PineAPPL is concerned this Issue can be closed, if you agree. Don't forget to call `FkTable::optimize` in pineko.

[2022-02-25 15:11] #79 closed

[2022-02-25 15:12] cschwan commented on #117
Implemented in commit acba8f465a6a9bb8ff9516eae7eebfbe3cd5c539.

[2022-02-25 15:12] #117 closed

[2022-02-25 15:44] AleCandido commented on #79
In order to use this in `pineko`, we'll need a new release of `pineappl`.

If you don't have anything more to add close in the future @cschwan, I would just release `0.5.1`.

[2022-02-25 15:47] AleCandido commented on #70
I believe this not to be relevant any longer, do you agree @cschwan?

It would be not a simple task, because of everything we found out in the meanwhile, and we didn't schedule any conversion at this point.

[2022-02-28 09:25] cschwan commented on #70
@AleCandido I don't think it's a priority Issue right now or even in the forseeable future, but I'd like to keep this open. Having the option of converting an FK table to a PineAPPL grid might be useful for debugging purposes in the future.

I think writing a converter would be quite easy, why do you think it wouldn't be?

[2022-02-28 11:26] AleCandido commented on #70
Of course you have to take into account DIS vs hadronic, but I believe this is already included in what you call "quite easy".

But on top of what is currently inside a PineAPPL FkTable as well, you have to add at list the concatenation, that for 4.0 grids is inside, and for PineAPPL ones is outside (in the `yaml` recipe, together with compound).

Then, from my personal point of view, since the mo

[2022-02-28 12:14] cschwan commented on #70
@AleCandido I don't quite follow what you said, but what I mean is simply a converter that takes FK tables in this format, https://docs.nnpdf.science/data/th-data-files.html, and converts them into PineAPPL grids, just like APPLgrids or fastNLO tables.

[2022-02-28 16:21] felixhekhorn commented on #112
@cschwan I was about to delete the function in `pineko`, but then I realized that it is the only way to envoke that in python - I guess we just keep it where it is, right? the other option would be to move it into `pineappl_py`, but that would introduce `pandas` as a dependency there and that we maybe want to avoid ... cc @AleCandido

[2022-02-28 18:31] AleCandido commented on #112
I agree to keep out `pandas`  from `pineapp_py`, let's keep as few dependencies as possible

[2022-03-01 10:14] felixhekhorn commented on #45
@scarlehoff just came across this one: "strip numerical zeros" - maybe we can increase the priority?

[2022-03-02 11:37] felixhekhorn opened #122 "Add realistic test case for `convolute_eko`"
in order to not rely on a manual test (e.g. in `pineko`) we should add a proper test here, for that we need:
- a simple grid G: this can be a positivity-like grid with, e.g., `O1 = [u(x=0.1, Q2=100)]` with a sufficent, but not too big number of bins in x
- an EKO E: the "raw" eko should be sufficient to keep the actual library out of the game, say `E(10 <- 100)`
- a PDF set f: to make the grids/ta

[2022-03-03 09:20] cschwan opened #123 "Allow converters to manually set the hadronic initial states"
Both `appl2pine` and `fnlo2pine` assume that the hadronic initial states are protons, which isn't the case in general. With fastNLO we should be able to read out the information, but for APPLgrid this information is probably not present and has to set manually, *before* the grid is optimized.

[2022-03-04 07:51] cschwan commented on #123
For `appl2pine` this is implemented in commit bc234fd3895f87770ce86c9e2f4177fa7203dfe7.

[2022-03-04 15:59] cschwan commented on #109
Charge conjugation is implemented in commit c54598cdecb967d1166c124837a77940568c857f.

[2022-03-08 12:56] scarlehoff commented on #79
I have one question, the `optimize` only removes 1) flavours that are 0 and 2) reduces flavours by summing them into the same "histogram-bin" (depending on the theory) but the `xgrid` remains the same for all fktables? right @cschwan ?

[2022-03-08 12:58] cschwan commented on #79
That's correct, @scarlehoff!

[2022-03-08 15:58] cschwan opened #124 "Add new switch to `convolute` subcommand to multiply with factors"
We need the possibility to easily multiply the convoluted results with some factors, see for instance https://github.com/NNPDF/fktables/issues/23#issuecomment-1061591595.

[2022-03-14 10:35] cschwan commented on #25
The remaining development is be found in #120 and subsequent Issues/PRs.

[2022-03-15 14:20] cschwan opened #125 "Enable merging bins of higher-dimensional distributions"
See also https://github.com/NNPDF/fktables/issues/26#issuecomment-1067877787.

[2022-03-16 08:17] cschwan opened #126 "Fix APPLgrid/fastNLO conversion problems"
The following fastNLO tables don't convert properly:

1. from the fastNLO tarball (see https://github.com/N3PDF/pineappl/pull/120#issuecomment-1068167147):
   - [x] `NJets_nlo-2jet_0101.tab.gz` (fixed with commit c1992b8d93277bae64f41369651a6a6b1ba2f6f9)
   - [x] `NJets_nlo-2jet_0100.tab.gz` (fixed with commit c1992b8d93277bae64f41369651a6a6b1ba2f6f9)
   - [x] `NJets_nlo-2jet_0102.tab.gz` (fixed w

[2022-03-16 13:06] cschwan opened #127 "(Re-)enable fastNLO converter in the CI again"
cargo+tarpaulin can't compile the fastNLO converter in the CI, probably due to a problem described in this Issue: https://github.com/xd009642/tarpaulin/issues/517. The failed CI run is available here: https://github.com/N3PDF/pineappl/actions/runs/1992743663.

[2022-03-16 13:15] AleCandido commented on #127
Still failing, since it's still attempting to compile `pineappl_fastnlo` https://github.com/N3PDF/pineappl/actions/runs/1992888567

[2022-03-16 13:26] cschwan commented on #127
Try no. 2 with commit 44526d3075b2d9ef90d36d5dd23ac54526f6296a.

[2022-03-16 16:18] AleCandido opened #128 "Expose fastNLO converter to Python"
- [ ] move the current `fastnlo` module from the CLI to the main crate
- [ ] bind in the Python interface

[2022-03-16 16:38] cschwan commented on #128
I'll take care of the first part, and you can write bindings afterwards!

[2022-03-17 08:32] cschwan opened #129 "Provide an 'I don't care'-easy installation option"
After talking with @AleCandido yesterday, we decided it useful to have a third and very easy installation option. This would be a feature for people who don't care about/don't want Rust. We should write a script which

- [ ] checks if cargo is available,
- [ ] if not downloads rustup and installs a minimal version of Rust,
- [ ] installs the latest released version of `pineappl` and finally
- [ ]

[2022-03-17 08:42] cschwan opened #130 "Write a tutorial for the PineAPPL CLI"
At the moment the only documentation of the CLI is in the CLI itself, using

[code]

or similarly for each subcommand, for instance for convolute:

[code]

While this is okay for an experienced user, we need a short tutorial which

- [ ] categorizes and
- [ ] explains the different subcommands - as of writing this there are 18 (!) of them - and
- [ ] showcases each of them. Finally we should
- [ ]

[2022-03-17 09:23] AleCandido commented on #130
You can put it as:
- a separate subcommand: `pineappl tutorial`, but
-  my favorite way would be to use the docstrings themselves, and publish as crate docs (that are available offline for a `cargo` installation, and online on https://docs.rs without any installation at all)

Nothing prevents to do both, but I'd start from the second.

[2022-03-17 09:29] cschwan commented on #130
The first option is an interesting idea! The second option isn't possible right now, as docs.rs doesn't document binaries. Have a look at <https://docs.rs/crate/pineappl_cli/0.5.1>. I was thinking of simply writing markdown documents in the git repository, which is simple and works quite well.

[2022-03-17 09:33] AleCandido commented on #130
Ok, that's bad... but it is what it is.

Then, what you can do is to write simple markdown documents, and compile them into the `tutorial` subcommand with something like [`include_str!`](https://doc.rust-lang.org/std/macro.include_str.html).
Finally, you can use something like [`termimad`](https://github.com/Canop/termimad) to print them.

[2022-03-17 09:50] felixhekhorn commented on #130
why not use #116 ?

[2022-03-17 09:58] AleCandido commented on #130
Three reasons for me:

1. no offline version would be provided that way
2. at the moment it's just a presentation/gallery, this would add a second purpose to that page, calling for a more sophisticated architecture for the page
3. and it's by itself more sophisticated than markdown files (in order to write it offline and test, you need to use jekyll, that is written in Ruby and needs Ruby installe

[2022-03-20 22:56] cschwan commented on #130
Commit 352be793b0c3f8829a8a57254d3d8384f689adb6 adds a first part of the [tutorial](https://github.com/N3PDF/pineappl/blob/master/tutorial/mainpage.md).

[2022-03-23 08:43] cschwan commented on #127
To make explicit what I've implicitly wrote above: it works on my local computer. Now I'm going through the check list in https://github.com/xd009642/tarpaulin/issues/517#issuecomment-923449246.

[2022-03-23 16:17] cschwan commented on #127
Using `grcov` is finally working with commit 0fc2757f1d012cc67609834302aac79933de69e8.

[2022-03-23 17:25] #127 closed

[2022-03-23 17:27] cschwan opened #131 "Write unit tests for the fastNLO converter"
We should convert a few grids in the CI to increase the coverage of the fastNLO converter.

[2022-03-24 13:47] cschwan commented on #130
@AleCandido @felixhekhorn @scarlehoff I've completed a first version of the tutorial, if you like you can have a look at it and let me know if there's anything that can be improved or missing. The tutorial is now in [docs/cli-tutorial.md](https://github.com/N3PDF/pineappl/blob/master/docs/cli-tutorial.md) (read it online).

[2022-03-24 14:01] felixhekhorn commented on #130
I think it's a good start! maybe a few comments:
- why did you choose an example with a typo? :upside_down_face:
- in the lumi representation: can't we cast 0 -> 21?
- since it's quite long: maybe add a table of contents?
- it remains unclear to me what is your maintained source of documentation: repo (meaning this file), inline (meaning `pineappl tutorial`), docs (on docs.rs), website

[2022-03-24 14:27] cschwan commented on #130
@felixhekhorn thanks for your comments! I will definitely replace the grid with an updated version, where the typo is fixed, where gluons have PDG ID `21` and most importantly where the missing factor `0.5` is taken care of; I added it before [this bug](https://github.com/NNPDF/pineapplgrids/commit/47df37be0268c18ffd70cc925e45b77fa9174485) was fixed. I chose this grid simply because it was already

[2022-03-24 20:35] AleCandido commented on #130
I perfectly agree that if it's the final form, a table of contents is useful in general. However, for the specific case of reading it on GitHub, the table of contents is already present (click top right corner), and even searchable:
![image](https://user-images.githubusercontent.com/10830876/160005663-8520dd85-202e-463c-86de-a849ce459427.png)

[2022-03-25 07:08] AleCandido commented on #130
I finally took the time to read it: it's really enjoyable and descriptive.

I believe this is really the correct size for the tutorial: you can read in 10-20 minutes (according to the personal experience with the topic) and it gives you an idea of the most important concepts, including a taste of the power and flexibility of the CLI.

I would not expand beyond this size, it's perfect.
If ever you

[2022-03-25 07:53] cschwan commented on #130
Huh, I didn't know that, that's useful.

Cheers, that's hight praise!

That was also my idea, there are some hidden features that are really cool and I'd like to show them. One problem of the CLI help is that it's quite condensed and therefore it has a discoverability problem. As you say an advanced tutorial would fill this gap.

[2022-03-25 09:56] scarlehoff commented on #130
Is it possible to add a `man` page in a cargo project? Having this tutorial as part of `man pineappl` minus plots would be cool.

[2022-03-25 10:01] AleCandido commented on #130
I believe this to be a long-standing issue, see https://github.com/rust-lang/cargo/issues/2729.

[2022-03-25 10:08] Zaharid commented on #129
Uh, make a conda package instead!

[2022-03-25 10:10] AleCandido commented on #129
Already available:
https://anaconda.org/conda-forge/pineappl

But a binary installation is more general than `conda`, not everyone would like to install `conda` on its system, nor to rely on `conda`'s environment.

[2022-03-25 16:22] scarlehoff opened #132 "Conda package for Mac OS?"
Is it possible?
Because `nnpdf` needs Mac OS apparently?

[2022-03-25 17:39] scarlehoff commented on #132
It's a question for which I wish the answer were different...

[2022-03-25 17:40] AleCandido commented on #132
Unfortunately, you know the answer to that question... and it's the same for N3PDF as well...

[2022-03-28 08:10] cschwan commented on #132
I think @scarrazza went ahead with this here: https://github.com/conda-forge/pineappl-feedstock/pull/11.

[2022-03-29 14:10] felixhekhorn opened #133 "Expose `xif` and `xir` in `PyGrid::convolute_eko`"
we need to expose the SV ratios here
https://github.com/N3PDF/pineappl/blob/101cbdefdd3b9f6c0427de48e57bca53e0f3f843/pineappl_py/src/grid.rs#L406
to make them accessible here: https://github.com/N3PDF/pineko/issues/6

[2022-03-30 15:41] felixhekhorn opened #134 "Calling CLI convolute takes 8 minutes"
On dom I did
1. `git pull`
2. `$ cargo install --features=fastnlo --path pineappl_cli --root /media/FK/env` as written in the README. This generates a bunch of warnings (`-Wunused-parameter`, `-Wmaybe-uninitialized`) which maybe you want to avoid and eventually
[code]

3. check the size as suggested:
[code]
so no, it is bigger then 2M

4. double check the things is actually replaced:
[code]
5. che

[2022-03-30 21:05] cschwan commented on #134
I agree that truly seems like a performance bug, could you check that you have the same problem also for the grid at process scale?

The fastNLO warnings I can't get rid off, they originate from the fastNLO toolkit headers, but it's annoying I agree.

This is a good point, please check that. I might've introduced a performance regression at some point.

[2022-04-01 09:00] cschwan opened #135 "Clarify initial states and PDFs used"
PineAPPL's metadata contains the keys `initial_state_1` and `initial_state_2`, which are the PDG Monte Carlo IDs of the PDFs that the grid must be convolved with.

However, I now realise that the name is confusing, because the PDFs not necessarily agree with the actual hadronic initial states. For instance, when we use processes which collide lead nuclei with protons, but we want to fit *only* the

[2022-04-01 09:02] cschwan commented on #135
CC @felixhekhorn @AleCandido @scarlehoff @Radonirinaunimi

[2022-04-01 09:19] AleCandido commented on #135
That's a perfect solution for me.

The only additional proposal is that, since PineAPPL grids metadata are always strings, I would make the `nuclear_model_x` valid JSON, for parsing simplicity. E.g.: for deuteron

[code]

[2022-04-01 09:38] Radonirinaunimi commented on #135
Thanks a lot @cschwan for this. This proposal also is perfect for me (this would make my life infinitely easier).

I also like very much this way of representing the metadata which would also make `validphys` very happy.

[2022-04-01 09:47] cschwan commented on #135
@AleCandido @Radonirinaunimi : yes, let's do that!

[2022-04-01 16:11] cschwan commented on #134
Quick fact list: after the evolution

- the convolution time increases from 6 seconds to 7m37s -> factor 76
- the luminosity increases from 5 entries to 90 entries
- the size of the grid increases from 12M to 328M -> factor 27.3 increase
- the number of subgrids increases from 2868 to 21749 and the average number of filled subgrid points increase from 512 to 2295 -> factor (2295*21749) / (512*2868

[2022-04-01 16:24] AleCandido commented on #134
Is there any trivial optimization that is missing for those grids?
Or is there anything we can do to optimize them?

[2022-04-01 16:30] cschwan commented on #134
The FK table optimization is missing, I believe (`Nf4Sym`).

[2022-04-04 08:41] cschwan commented on #134
After this optimization step the file size drops from 328M to 150M (factor 2.2), and the execution time from 6m17.859s to 2m19.145s (factor 2.7) on my local machine.

[2022-04-04 09:05] AleCandido commented on #134
Much better, but still much slower than the original one.
It's true we're dealing with an intrinsic property of the object itself, since evolution is entangling everything, by an unpredictable amount.

I wonder if there is anything more we can do for further optimizing it... (I don't see it manifest)

[2022-04-04 09:09] felixhekhorn commented on #134
just to confirm this is true

okay, I take it you can reproduce to some extend the problem locally

still, I don't understand why python does not seem to be affected - is there some easy debugging I can do?

[2022-04-04 09:31] cschwan commented on #134
What do you run exactly and which version of PineAPPL do you use?

[2022-04-04 09:33] felixhekhorn commented on #134
as said, I did a pull so:
[code]

[2022-04-04 09:37] felixhekhorn commented on #134
no at process level I get:
[code]

[2022-04-04 09:39] cschwan commented on #134
But that's the CLI version, if you're using Python I need the PineAPPL's Python version. Also what do you run exactly?

[2022-04-04 09:47] felixhekhorn commented on #134
okay, so just did
[code]
and it seemed indeed to have done the job:
[code]
further more
[code]
and then rerunning the command from https://github.com/N3PDF/pineappl/issues/134#issuecomment-1083320997 (so two! convolutions) I still get the roughly one minute ...

[2022-04-04 09:57] cschwan commented on #134
@felixhekhorn it seems that scale variations make the difference - I don't know why yet, but it's a start. Can you please try to convolute with the CLI with `-s 1` to disable them?

[2022-04-04 10:04] felixhekhorn commented on #134
yes, this seems to be confirmed:
[code]

(still using the unoptimized grid ...)

- this would also explain, why Python is not affected - since we're only asking for the central scale there
- actually, it might even be `lhapdf` fault, since `pineappl` is attempting to evaluate the PDF at `Q0/2`

[2022-04-04 10:07] felixhekhorn commented on #134
- doing a local test on `LHCB_DY_13TEV_DIELECTRON`: I get 3s with no scale variation and 19s with full
- I guess ren. scale variations should be irrelevant since FK tables do contain only a trivial order

[2022-04-04 10:31] felixhekhorn opened #136 "Expose build information to Python"
How about adding something like https://github.com/PyO3/maturin/issues/100 ? or as is written there https://github.com/PyO3/pyo3-built/

this would facilitate the debugging process ...

[2022-04-04 10:36] AleCandido commented on #136
`pyo3-built` looks unnecessarily complex and too unmaintained.

I'd suggest to go for the first option, it looks perfect to me :)

[2022-04-04 11:51] cschwan commented on #136
That's a good idea, I'll look into it!

[2022-04-04 12:14] cschwan commented on #134
@felixhekhorn I'm still a bit concerned about the scaling, but I agree this isn't much of an Issue. Not printing scale variation when you can't reliably predict them is probably more important; I'd opened https://github.com/N3PDF/pineappl/issues/46 for that but I wonder if what I wrote is true. When we have FK tables we can certainly disable scale-variations.

[2022-04-04 12:22] felixhekhorn commented on #46
that doesn't seem correct: you can determine what NLO is: a order is NLO if and only if there exists an other order with exactly one lower power of coupling (either a_s or a_em)

[2022-04-04 12:24] felixhekhorn commented on #134
I think FK tables match exactly #46

[2022-04-04 12:30] cschwan commented on #46
@felixhekhorn I was thinking of the possibility that one can store LOs and NLOs in separate grids, but after thinking about it that's a special case that we don't want to support. I'm going to reopen this and change the CLI accordingly:

- if the grid is an FK table, then don't calculate scale variations
- if there are higher orders, starting at NLO there must at least be factorization-scale logs

[2022-04-07 16:18] AleCandido commented on #70
Ok, if you're able to do it, so much the better.

Just take into account that one old-style FkTable may correspond to multiple new FkTables.

[2022-04-08 07:48] cschwan commented on #70
@AleCandido that's OK, I mainly need it for the positivity support for which we don't have any grids.

[2022-04-13 07:46] cschwan commented on #123
For fastNLO this information is read out, so I'm closing this Issue.

[2022-04-13 07:46] #123 closed

[2022-04-13 07:51] cschwan commented on #132
@scarlehoff @scarrazza what's the status of this Issue?

[2022-04-13 08:00] scarrazza commented on #132
@cschwan can be closed, see https://anaconda.org/conda-forge/pineappl

[2022-04-13 08:05] cschwan commented on #128
I tried doing this and unfortunately didn't succeed, probably due to a linking-order problem with LHAPDF: it seems to matter whether I link LHAPDF first and fastNLO second, because the latter depends on the former and the CLI depends on both. I think that this problem can't be solved with cargo, so this Issue probably has to be postponed for a while.

[2022-04-13 08:05] cschwan commented on #132
@scarrazza cheers!

[2022-04-13 08:05] #132 closed

[2022-04-13 09:02] AleCandido commented on #128
Sad, but fine.

In any case, it is not a major issue at the moment: it was mainly needed to start writing "pinecards" for conversion, in order to have consistent metadata, include versions and so on.
But pinecards (I'd really like to call them *seeds* :D) are going to be reworked anyhow (at least a bit), after the new commondata will be available.

In the meantime, if we'll generate our own grids,

[2022-04-13 09:10] felixhekhorn commented on #128
For writing the APPL conversion pinecards we need to run the "CLI" (meaning the `appl2pine` command) in any case (for the moment) so we can even call the PineAPPL CLI there ...

In any case https://github.com/NNPDF/runcards/issues/123 is not liked to CommonData ...

[2022-04-13 10:05] AleCandido commented on #128
I'd still assign low priority to this task: we already converted all the grids we needed, it's non-blocking for anything.
It's a refinement we want, but still a refinement.

[2022-04-19 09:42] cschwan opened #139 "Resolve test failures due to LHAPDF 6.3.0"
See https://github.com/N3PDF/pineappl/pull/138#issuecomment-1099200867, which only concerns the `plot --subgrid-pull` tests of the CLI.

[2022-04-19 11:05] #70 closed

[2022-04-19 16:35] felixhekhorn commented on #21
If only PineAPPL had a logo so we could put that in talks ...

[2022-04-20 07:25] AleCandido commented on #21
I guess he was referring to DIS, in which he's going to present EKO and yadism, and thus he will mention the combination (so PineAPPL).

[2022-04-20 07:26] cschwan commented on #21
Yes, having a Logo would be useful ...

[2022-04-20 10:40] felixhekhorn commented on #21
Indeed. Now, until then nothing will happen - after that let me point out what I already said: https://github.com/N3PDF/pineappl/issues/21#issuecomment-939104322

[2022-04-27 08:24] cschwan opened #140 "Upgrade PyO3 version?"
Is there a reason we keep relying `~pyo3-0.14.5` rather than `~0.16.4`? Upgrading might solve the problem we have with the Conda package: https://dev.azure.com/conda-forge/feedstock-builds/_build/results?buildId=496568&view=logs&j=bb1c2637-64c6-57bd-9ea6-93823b2df951&t=350df31b-3291-5209-0bb7-031395f0baa1&l=559, see also https://github.com/conda-forge/pineappl-feedstock/pull/13.

[2022-04-27 08:39] AleCandido commented on #140
No explicit reason I'm aware of.

The actual reason why it is like that I believe is that:
- `0.15.0` has been released on November 2021
- `0.16.0` has been released on February 2022

see https://github.com/PyO3/pyo3/releases

Now, while they only changed minor, PyO3 is still in the `0.x` phase, thus any minor update has to be considered as major.
Major upgrades should never happen silently, so th

[2022-04-27 09:03] cschwan commented on #140
Alright, I that case I'll try to upgrade it myself!

[2022-05-02 08:40] cschwan commented on #140
Upgraded in commit 40e768a5965f47849f24e16a1f4b44f69f696386. To test the conda version we need another release, I suppose.

[2022-05-02 22:35] AleCandido commented on #140
It would be nice to be able to test Conda packaging locally, but to make sure that it works in conda-forge it's likely there is no other way: we have to trigger a PR there (unless we can make a PR ourselves).

[2022-05-03 05:56] cschwan commented on #140
@scarrazza is there a way to test https://github.com/conda-forge/pineappl-feedstock/pull/13 with additional fixes to PineAPPL *without* releasing a new version? If not I'll simply try to release 0.5.3 and delay every missing Issue to 0.5.4.

[2022-05-03 13:33] cschwan opened #141 "Improve documentation"
After talking to @scarlehoff I get the feeling that our documentation can be improved in quite a few places. Specifically, we should at least

1. improve the documentation that explains what lumis are, how they are related to partonic channels and what factors are. We should also add a more complicated example;
2. we should better explain the order parameters, for instance the log exponents needed

[2022-05-03 14:05] cschwan opened #142 "Fix plot labels"
When using the `plot` subcommand of `pineappl` the labels are unconditionally set to 'NLO QCD+EW' and 'NLO QCD'. This should depend on the actual orders, of course.

[2022-05-03 21:55] AleCandido commented on #141
Just as a feedback, and with no further purpose: I actually find this order a bit unnatural, since for me bin is the most external object, the one surviving all the convolution.
I would have found more natural `bol` sorting, but at this point that's it, and it's not worth to switch.

[2022-05-10 10:33] felixhekhorn commented on #141
I can try to help with this, but let me repeat what I said in https://github.com/N3PDF/pineappl/issues/130#issuecomment-1077661355

@AleCandido can you please remind me of the Rust project you showed to me where the documentation was as source code and hence on docs.rs?

[2022-05-10 10:59] AleCandido commented on #141
It is simple, it's just [`ndarray`](https://github.com/rust-ndarray/ndarray). You can find an example here:

https://github.com/rust-ndarray/ndarray/tree/master/src/doc

But I'd actually improve over this: instead of `docs.rs` containing markdown, I'd make `docs.md`, and `docs.rs` embed the content of `docs.md` through a macro.

[2022-05-10 11:06] AleCandido commented on #141
Something like this:

https://doc.rust-lang.org/std/macro.include_str.html

[2022-05-13 09:03] cschwan opened #143 "Add possibily to specify LHAPDF strings with member ids"
When we call `pineappl convolute <grid> <pdfset>`, the `pdfset` field is allowed to be either:
- an integer, denoting an LHAID, which is `331100` for NNPDF4.0 NNLO as=0.1180
- or a string, which would be `NNPDF40_nnlo_as_01180` for the case above.

Sometimes we'd like to convolute with very specific replicas, which is only possible using the LHAID to which the replica ID must be added. For instanc

[2022-05-13 09:07] Zaharid commented on #143
Note that not every useful grid has an LHAID. Specifically the internal results from the fit do not have that.

[2022-05-13 09:09] cschwan commented on #143
That's a good point; so this is even more important than I thought!

[2022-05-16 09:09] cschwan commented on #45
In the meantime the size of `CMS_SINGLETOP_TCH_R_7TEV_T` has slightly degraded to 684K, but the ATLAS DY 3D @ 8 TeV grid has shrunk to 66 MB from 364 MB.

[2022-05-16 09:21] cschwan opened #144 "Fix deprecation warning in `pineappl_py`"
[code]

[2022-05-16 09:25] AleCandido commented on #144
I see. Is the proposed solution something like:

[code]

or should I explicitly recast at `ArrayBase` before calling `.iter()`?

[2022-05-16 09:26] AleCandido commented on #45
Definitely not a problem

That's great :)

[2022-05-16 09:28] cschwan commented on #144
That's the question, I don't understand the warning.

[2022-05-16 09:38] cschwan commented on #136
I tried adding

[code]

in `src/lib.rs`, but this doesn't have an effect. It should add a variable `pineappl.__version__`, shouldn't it?

[2022-05-16 09:42] felixhekhorn commented on #136
yes - you can check the available attributes with `dir` (in case it got bound somewhere else ...)

[2022-05-16 09:47] AleCandido commented on #144
Me too...

[2022-05-16 10:29] AleCandido commented on #144
Lanes are a more complicated concept, I'm not sure we want that one, but we might have a look.

[2022-05-17 14:53] cschwan commented on #143
Implemented in commit 1104374ae1b6721b9353e50095428dce5559226b.

[2022-05-17 14:54] cschwan commented on #143
@Radonirinaunimi you might be interested in that as well (or might have liked to have it a few days ago :wink: ...).

[2022-05-17 15:03] Radonirinaunimi commented on #143
Thanks a lot @cschwan for this. It works perfectly fine! I am sure I will need this often in the future.

[2022-05-19 12:36] cschwan commented on #141
Something that I now feel quite comfortable with is to host common mark documents in the [repository](https://github.com/N3PDF/pineappl/tree/master/docs) and point to it (on github) in the `--help` documentation of `pineappl`. For instance, for `pineappl remap --help` I removed the text that explained `REMAPPING`, which now points to <https://github.com/N3PDF/pineappl/blob/master/docs/cli-referenc

[2022-05-19 15:27] felixhekhorn commented on #141
Maybe you want a `README` in https://github.com/N3PDF/pineappl/tree/master/docs ?

[2022-05-19 16:39] AleCandido commented on #141
A `README.md` (but even `README`, `README.txt`, and `README.rst`) would be rendered by GitHub in the folder view, like for the top-level one.
So, I agree with @felixhekhorn

[2022-06-01 15:37] #136 closed

[2022-06-01 15:38] felixhekhorn commented on #136
@cschwan the magic was just in the nesting of the layers (it got bound in `pineappl.pineappl`) - I reexposed it again on top level

[2022-06-01 18:42] cschwan commented on #136
@felixhekhorn cheers!

[2022-06-07 15:01] #69 closed

[2022-06-11 07:10] cschwan opened #145 "Generate manpage(s) for `pineappl` binary"
Use <https://docs.rs/clap_mangen/>. Ideally, we'd like to have

- [x] installed man pages, so that `man pineappl` and `pineappl help` both work
- [ ] more detailed man pages showing examples and all relevant details

[2022-06-11 07:12] cschwan commented on #130
I believe the tutorial is mostly there. For manpages I've opened a separate Issue: https://github.com/N3PDF/pineappl/issues/145.

[2022-06-11 07:12] #130 closed

[2022-06-11 07:39] cschwan commented on #116
I made a small change: when you go to our homepage <https://n3pdf.github.io/pineappl/> it'll no longer show a markdown file from `gh-pages`, which was completely outdated, but rather the README.md from master. Alternatively we could show docs/README.md, which might be better. In any case the homepage should be automatically much better maintained now.

[2022-06-12 08:33] cschwan opened #146 "Fix website-specific problems"
- [x] website doesn't render equations; fixed in commits cc181e63f715415005346426d708c88c28f7e5ac, 47bc795f44770f9cd6f3650fe80bc3ed47206876 and 7a50b93c19eb001c8ba19b24780c9a3e378c0461
- [x] website doesn't follow link to `CONTRIBUTING.md` and instead downloads it; fixed in commit 034859f4aa86c8b22c72deff8ca7d18780fe2e9f

[2022-06-13 09:14] AleCandido commented on #116
This I don't fully understand why, maybe try with `[...](./CONTRIBUTING.md)`?

[2022-06-13 09:35] cschwan commented on #116
The problems with the website I collect here: https://github.com/N3PDF/pineappl/issues/146.

[2022-06-13 09:36] cschwan commented on #116
@felixhekhorn I'm thinking of reworking the README a bit, as it's the first impression. I think the best would be show some nice plots and tables to show off what PineAPPL can do.

[2022-06-13 09:43] felixhekhorn commented on #116
that's a good idea - however, there is a trade off to be made: how much to show on the front-page without make it bloated? (on a separate page one can be as detailed as one likes)

[2022-06-14 07:03] cschwan commented on #129
@AleCandido are you sure that `https` isn't working anymore/will not work at some point in the future? I checked that (unauthenticated) cloning is still possible and the [site](https://github.blog/2021-09-01-improving-git-protocol-security-github/) you mentioned explicitly states that nothing will change for `https`. I think the real problem might be that pygit2 tries to use authentication.

[2022-06-14 07:56] AleCandido commented on #129
One of the two blog posts I mentioned was SSH specific, so it was saying nothing will change for `https`, but [the other one](https://github.blog/2020-12-15-token-authentication-requirements-for-git-operations/) was.

Actually, I don't remember exactly why, but the change in the URL was consequential to a bug report (not even sure I found myself, it was in February and `yadism` was already settled

[2022-06-14 08:38] cschwan commented on #129
@AleCandido I agree. The only tricky installation is the C API, for which we can use the release tarballs, for instance <https://github.com/N3PDF/pineappl/archive/refs/tags/v0.5.2.tar.gz>.

[2022-06-14 08:39] cschwan commented on #129
BTW: if one really wants to use git, you can using `cargo install --git ...`.

[2022-06-14 13:41] cschwan commented on #129
That doesn't work unfortunately.

[2022-06-14 13:49] cschwan opened #147 "Improve `plot` subcommand"
- [x] plot script is too complicated, especially the `data()` function can be done much more straightforward; this requires repeating the last datapoint for each slice in Rust (instead of in Python). Partially simplified in commit 8cc3bddb1222c6296d883108f87f42cd86feef23; final modifications in commits 0f17358892ee7dfb7d6de12d900ec769079bdf1c, 66abef03f109ad980a681eb9825930ffd6565912, 026b8b7af422

[2022-06-14 14:18] AleCandido commented on #147
Just to point it out: that issue has already been marked twice as stale (even if we still believe it's relevant), so maybe not the best example...

[2022-06-14 14:21] felixhekhorn commented on #147
True - but, if I remember correctly, we will inherit at some point plots from https://github.com/NNPDF/nnusf

[2022-06-14 15:35] scarlehoff opened #148 "Rescale grid with bin-dependent factors"
In order to burn in the acceptance factor for DYE906 the option for by-bin rescaling should be available (at the moment as far as I can see I can only rescale the entire grid by a given factor, but not each bin by a different number).

[2022-06-14 15:38] cschwan commented on #148
Yes, that should be possible. I'll take care of it.

[2022-06-17 09:42] cschwan commented on #148
Is there anything missing or can I close this Issue?

[2022-06-17 09:43] scarlehoff commented on #148
This won't be available until 0.53 is released, right?

[2022-06-17 09:47] cschwan commented on #148
If it's too complicated to use it from git I can make a release now!

[2022-06-17 09:52] scarlehoff commented on #148
For https://github.com/NNPDF/runcards/pull/139 it would be better to use an "official" release. But there's no hurry, I still need to fix the other small issues (stat uncertainties, --version, etc).

[2022-06-17 09:53] cschwan commented on #148
I can make a prelease and then @AleCandido should upgrade the version requirement for branch you mentioned. Does that work?

[2022-06-17 09:56] scarlehoff commented on #148
No worries. I can wait for the release.

[2022-06-17 10:03] AleCandido commented on #148
It's simple enough by me, it takes just time, and not *my time*: I just have to fix `pyproject.toml` to force the update (I could even skip in principle, but if it is only going to work with the new one it is more correct to update) and run `poetry update` (that might take even 30-60 mins, but I don't have to watch it xD).

[2022-06-17 11:19] cschwan commented on #148
@AleCandido it seems we don't support Python 3.6 anymore: https://github.com/N3PDF/pineappl/actions/runs/2515116715. Do we simply disable it?

[2022-06-17 12:13] cschwan commented on #148
... and this is caused by the upgraded PyO3 crate that requires Python 3.7 at least.

[2022-06-17 12:23] felixhekhorn commented on #148
I think we can just skip it, since e.g. even [debain oldstable is on 3.7](https://packages.debian.org/search?suite=default&section=all&arch=any&searchon=names&keywords=python3)

[2022-06-17 12:31] AleCandido commented on #148
Current version of Python is 3.10, and we're getting closer to the release of 3.11. Nice to have support for as many versions as possible, but rather hard and time-consuming.

I'm happy to follow what PyO3 crate is deciding :)

[2022-06-17 12:37] cschwan commented on #148
@AleCandido could you please take care of that? I think you'll have to touch the container for that, I don't see a switch in the workflow file to change the Python version on Linux.

[2022-06-17 12:54] AleCandido commented on #148
We need to regenerate the container, since `maturin` is pre-installed there: it takes almost nothing, I only need to change
https://github.com/N3PDF/pineappl/blob/e8aac12734bdd759653230339cff70c00e61840d/pineappl_py/package/Containerfile#L4
and rerun.

I was wondering if installing `maturin` at runtime, but I believe it is better like this: no surprise if Rust version becomes outdated or stuffs li

[2022-06-17 12:58] AleCandido commented on #148
Actually, removing support for 3.6 is in current beta:
https://github.com/PyO3/maturin/releases/tag/v0.13.0-beta.1

Should I keep going with that one? Or what else?

[2022-06-17 13:23] AleCandido commented on #148
With just v0.13.0-beta.1 it didn't work, I'm now trying manually inside the container, to make sure it is a problem of the container and not of the workflow (not updating the container).

If it's the first case, I will just regenerate with explicit `--interpreter`.

[2022-06-17 13:31] cschwan commented on #148
I'd say go with whatever is easier, sacrificing Python 3.6 is OK with me.

[2022-06-17 13:43] AleCandido commented on #148
Now I regenerated, and it is working locally.

Though it didn't in the workflow, but I don't really know which version of the container is using, since I told him to use `latest` (I'm considering pinning a fixed version in the workflow...)

[2022-06-17 14:14] AleCandido commented on #148
Ok, I rerun a bunch of times and it is not going to work.

I don't know which version of the container is running, but I know current `latest` to be able to compile (it is skipping Python 3.6), so I have no way to debug the action for v0.3.4 any longer.

Now I fixed the container version to the one I know is building (and so possibly working).

Please @cschwan, rerelease...

[2022-06-17 15:06] cschwan commented on #148
No, still doesn't work...

[2022-06-17 17:41] AleCandido commented on #148
Sorry for being stupid...

I replaced the container, but the command in the workflow is overriding the one in the container...

Now I tried to release myself, but since I'm too lazy I added a script to update all the versions in 466b80179bf0289605871672579f641c47926b3.
I don't know if you want to keep it, improve it, move somewhere else than top level (e.g. inside `.github`, or something like). Si

[2022-06-17 17:49] AleCandido commented on #148
It finally worked, you can install also on Linux with:
[code]

Is this enough @scarlehoff? Can we close?

[2022-06-21 09:45] scarlehoff commented on #148
It seems to work.

[2022-06-21 12:35] alecandido opened #149 "Channel manipulation in grids"
We should expose in the Python interface a function to manipulate luminosity function (in the first place, we need such a function in the Rust library).

Of course complicate manipulation are useless, but I would add a couple of simple ones:
- [ ] drop a lumi channel
- [ ] duplicate a lumi channel

Both of them should not involve generating further subgrids (but possibly dropping them), since the

[2022-06-21 14:01] #148 closed

[2022-06-21 14:24] AleCandido commented on #149
Ok, this was simple. Done in 5f4902f6e665c7f1734353376abb46db9216ad16.

[2022-06-21 14:48] AleCandido commented on #149
I didn't understand...

The function I put above is just to query which is the luminosity function of the given grid. It is just a read function, not one for manipulating...

[2022-06-21 14:50] cschwan commented on #149
This line:

https://github.com/N3PDF/pineappl/commit/5f4902f6e665c7f1734353376abb46db9216ad16#diff-1f7e3cc6363a7e6cbf795dc23874cf1e6c5d09b5b254ce0c8710e389f2f6badaR593

will return `uu~` if your lumi entry is `2 * uu~ + 1 * cc~`.

[2022-06-21 14:52] AleCandido commented on #149
Ops, you're right...

Just copied from here:
https://github.com/N3PDF/pineappl/blob/5f4902f6e665c7f1734353376abb46db9216ad16/pineappl/src/fk_table.rs#L202
and I didn't notice the zero.

But you're right of course, let me iterate even on that dimension.

[2022-06-21 14:54] AleCandido commented on #149
I just tested on a DIS grid, and even there it was working, but because in `yadism` we're always writing trivial lumis...

[2022-06-21 14:55] cschwan commented on #149
Madgraph5 doesn't and usually they're very non-trivial because we assume a diagonal CKM matrix.

[2022-06-21 14:58] AleCandido commented on #149
@cschwan check if now is more sensible

[2022-06-21 15:01] cschwan commented on #149
That looks much better, but you're still throwing away the factors; without them the lumis are incomplete!

[2022-06-21 15:12] AleCandido commented on #149
I had another try :)

[2022-06-22 06:54] #140 closed

[2022-06-27 17:13] cschwan opened #150 "Add new switch to subcommand `channels` to show separate entries"
When using `pineappl channels [INPUT] [PDFSET]` for a grid with the following lumi (DY LO):

[code]

it is very useful to also tell apart the different entries for each luminosity function, for instance the size of the up-anti-up channel separate from the charm-anti-charm channel.

[2022-07-02 10:27] cschwan opened #151 "Remove empty unused `x1` and `x2` grid values in subgrids"
We already remove unused grid points in the `muf2`/`mur2` dimension, and we should also be able to do that with `x1` and `x2`. This might require some modifications here and there, but should improve the size of each subgrid as they usually have a small range in x in which the subgrid is non-zero.

This will require changing `Grid::optimize` to also modify `ImportOnlySubgridV1` subgrids.

[2022-07-02 11:44] #146 closed

[2022-07-03 07:52] cschwan commented on #116
I believe most points have been addressed. Please open a new Issue if that's not the case.

[2022-07-03 07:52] #116 closed

[2022-07-03 08:04] cschwan opened #152 "Use linear algebra routine for `Grid::convolute_eko`"
`Grid::convolute_eko` often takes quite long. We should speed it up using a linear algebra library and make the necessary rewrites (see also https://github.com/N3PDF/pineappl/pull/103#issue-1108216857).

[2022-07-03 10:00] AleCandido commented on #152
Actually, what do you mean by "linear algebra library"? Something like [`ndarray`](https://github.com/rust-ndarray/ndarray)/[`nalgebra`](https://github.com/dimforge/nalgebra), or did you have something else in mind?

[2022-07-03 10:42] cschwan commented on #152
Basically what I said in 2. of https://github.com/N3PDF/pineappl/pull/103#issue-1108216857.

[2022-07-03 12:47] AleCandido commented on #152
The "fast linear algebra libraries" were generic even in that comment ^^

[2022-07-03 15:51] cschwan commented on #152
I see, I didn't have any specific library in mind.

[2022-07-05 14:59] felixhekhorn commented on #21
just saying that @AleCandido will give another talk without a logo and I, myself, planning to give a dedicated talk about the theory pipeline (and so pineappl at it's center) at the EIC meeting at the beginning of August ...

practical suggestions: why don't we accept @AleCandido suggestion [above](https://github.com/N3PDF/pineappl/issues/21#issuecomment-881590989) ? :upside_down_face:

[2022-07-06 08:54] cschwan commented on #21
Alessandro's suggestion is a bit too generic to me, let me work on a logo. For the time being I think we should draw the attention to the updated website, what do you think?

[2022-07-06 09:53] AleCandido commented on #21
The former suggestion is rather old, and not my favorite.

I'd like to make at least a try also with a Pine, rather than a Pineapple. I'm still a bit affectionate to the idea of the theory **pine**line.

[2022-07-07 16:56] cschwan opened #153 "Add metadata read access to CAPI"

[2022-07-07 23:03] AleCandido commented on #153
Nice to have, but is it needed for something in particular?

[2022-07-08 06:21] cschwan commented on #153
Some*one* needs it :smile:!

[2022-07-08 09:22] #133 closed

[2022-07-08 10:53] AleCandido opened #154 "Docs on Implementing PineAPPL Interface"
We should provide documentation about:
- what PineAPPL is doing to get grids from a MC (abstract level, brief since it is partly present in the paper)
- explicit requirements for a MC to fill a grid
- practical instructions on how to fill call the PineAPPL library functions

[2022-07-08 10:57] cschwan commented on #154
I fully agree, but I think this is a duplicate of #141.

[2022-07-08 15:28] cschwan commented on #153
Implemented in 71d15168473900d942d652910f64732c4d79cbf7.

[2022-07-08 15:36] #153 closed

[2022-07-09 09:44] cschwan opened #156 "Fix Python documentation building"
We must update the Rust version in the container, because the build is failing: <https://readthedocs.org/projects/pineappl/builds/17395697/>. We should use Rust 1.56.1 which is our minimum supported Rust version (MSRV) for a while.

[2022-07-09 09:52] AleCandido commented on #156
Ok, I'm on my way

[2022-07-09 10:07] cschwan commented on #156
There's no need to rush with this one as it's Saturday and master doesn't have any significant changes and v0.5.4 is working :smile:.

[2022-07-09 10:07] AleCandido commented on #156
Container v0.2.2 uploaded. Please @cschwan test it!

[2022-07-09 10:12] AleCandido commented on #156
Current version of Rust is actually v1.62.0 inside the container, because:

https://github.com/N3PDF/pineappl/blob/master/pineappl_py/package/Containerfile#L19

means that I'm always using latest version available at generation time.

Should I pin instead the version of Rust in the `Containerfile` and manually upgrade? e.g. to run on the minimum supported instead of the latest (my guess is that th

[2022-07-09 10:15] cschwan commented on #156
As long as it builds it's perfectly fine.

[2022-07-09 10:19] AleCandido commented on #156
Ok, I found the way to retrigger without commiting:
![image](https://user-images.githubusercontent.com/10830876/178101535-22e3f909-cc49-4f45-aa49-fa9c94d97387.png)
(click the green button).

I'm testing it right now.

[2022-07-09 10:23] AleCandido commented on #156
Ok, sorry, I'm too slow:

Actually being the problem ReadTheDocs, it doesn't care the less about the container...

RTD has its own workflow, and it is installing its version of Rust, specified here:
https://github.com/N3PDF/pineappl/blob/7b8fe17c39a49d2171560856bd303ebde9ff0d77/.readthedocs.yml#L11

Upgraded in 552dff4780ce5e4c0e037474391e662bb92ef54c

[2022-07-09 10:26] cschwan commented on #156
Version `1.61` should be fine!

[2022-07-09 10:27] AleCandido commented on #156
![Uploading image.png…]()

Should we close?

[2022-07-09 10:29] cschwan commented on #156
Yes, thanks!

[2022-07-09 10:29] #156 closed

[2022-07-09 16:03] alecandido opened #157 "Outdated/incomplete Python docs"
Since @RoyStegeman started using it, we finally got another user that is not a developer (first one being @scarlehoff).
Nice chance to improve docs.

- [ ] `convolute` does not exist any longer (it is called `convolute_with_one`)
  https://github.com/N3PDF/pineappl/blob/552dff4780ce5e4c0e037474391e662bb92ef54c/pineappl_py/docs/source/recipes.rst#L16
- [ ] the call is also outdated: now the first a

[2022-07-19 16:22] felixhekhorn commented on #21
@cschwan any progress on this by chance?

[2022-07-21 14:22] felixhekhorn opened #158 "unstable rust features in code?"
In https://github.com/N3PDF/pineappl/commit/f4f47f63e7118eb43479be8b3eec8fa5b53fc1fa I changed some string outputs - and so I had to also adjust the tests, which I hope I did - but I cannot test it because I get
[code]
the mentioned command says something that I have to activate nightly to use unstable features - which is not what I want and moreover PineAPPL is supposed to work with 1.56.1

just

[2022-07-21 15:17] AleCandido commented on #158
I guess it has been solved in [Rust 1.61.0](https://github.com/rust-lang/rust/blob/master/RELEASES.md#language-1):

And since now Rust 1.62 is stable, I guess there is no problem.

[2022-07-21 15:21] felixhekhorn commented on #158
no problem - as long as we change https://github.com/N3PDF/pineappl/blob/f4f47f63e7118eb43479be8b3eec8fa5b53fc1fa/docs/installation.md#L122

[2022-07-21 15:24] AleCandido commented on #158
Perfectly fine by me, I'd simply replace `1.56.1` by `stable`, and we'll always make sure it is going to work on stable. What do you think @cschwan?

[2022-07-21 16:44] cschwan commented on #158
I'd like to avoid changing the MSRV since I know a few people like to use Rust from their Linux distribution. Commit 6c2b1aca7bb5e2dc391aae4eafd04a5fa53a29de should fix the problem. Please re-open if that isn't the case!

[2022-07-21 16:44] #158 closed

[2022-07-21 16:45] cschwan opened #159 "Add MSRV check to `make_release.sh`"
To avoid instance like https://github.com/N3PDF/pineappl/issues/158 we need to add a check in `make_release.sh` that checks for `cargo msrv` being available and then performs the MSRV check.

[2022-07-21 16:49] AleCandido commented on #159
Then, I'd start running this in a workflow. Possibly in the release workflow (i.e. first makes checks, and if everything's fine, finally release).

[2022-07-21 16:54] AleCandido commented on #159
Moreover, `cargo msrv` is rather popular (at least it seems), but it's still community maintained.
Since we are always updating to newer Rust, we'll completely rely on it. So, occasional checks should still be run manually...

[2022-07-22 08:37] felixhekhorn commented on #158
`cargo test` passed :+1:  (after I remembered to run `cargo build` first - it is quite strange `test` is not running it on it's own ... )

[2022-07-22 08:40] cschwan commented on #158
`cargo test` can take quite long to finish which is why it doesn't run by default.

[2022-07-22 08:45] cschwan commented on #159
@felixhekhorn we'd only check that we don't increase the minimum supported version of Rust (MSRV) for released versions. That does the opposite of breaking things: we make sure that people with older Rust installations can still install PineAPPL. But maybe I misunderstood you?

[2022-07-22 08:56] felixhekhorn commented on #159
I was more thinking on a higher meta level: pinning a version is a valid choice of software design (that's why poetry is there in the first place), but (as far as I understand) this is not the same philosophy in the rust universe: here the idea is to release a new version every 6 weeks and the development continuously adds new features ... - I guess that's why @AleCandido wanted to point to `stabl

[2022-07-22 09:02] cschwan commented on #159
But we're not pinning anything, we simply set the minimum version from which on you can use any higher version!

[2022-07-22 09:27] AleCandido commented on #159
Indeed, I agree, in principle keep supporting up to a fixed version is not breaking rolling release.

The only bad effect is that you accumulate extra burden for the developers: you are increasing the number of versions you have to support. So, if ever they will fix or add something you useful, you can not use out of the box, unless you bump MRSV.

[2022-07-22 09:51] cschwan commented on #159
@AleCandido true, and at some point we can increase the MSRV again. But for the time being 1.56 must suffice. If you wonder why exactly that version: it's the first version to support the 2021 edition and the `rust-version` field in `Cargo.toml`.

[2022-07-22 10:00] AleCandido commented on #159
That I knew, I found out while I was debugging the readthedocs configs :)

[2022-07-22 12:13] cschwan commented on #159
Implemented in commit ef9138817de99fa026dcb617ada46c5129bf477f.

[2022-07-22 12:16] cschwan commented on #159
Doing this in a workflow would be ideal, but I'm not sure whether that's possible. At the very least we'd need to pass a version string to the workflow.

[2022-07-22 14:26] AleCandido commented on #159
This we can do. We can also store the MSRV in a file, or read from:
https://github.com/N3PDF/pineappl/blob/ef9138817de99fa026dcb617ada46c5129bf477f/pineappl/Cargo.toml#L12

for best consistency.

[2022-07-28 13:14] cschwan commented on #145
Small update on this: `clap_mangen` makes this quite easy, however, it seems currently it doesn't document subcommands, at least not automatically. Since all of our functionality is contained in subcommand we can't use it yet. See also <https://github.com/clap-rs/clap/issues/3365>.

[2022-07-29 11:19] cschwan opened #160 "Add converter for 'new' APPLgrids"
For the ATLAS and CMS single-inclusive jet and dijet NNLO grids available here:

- [ATLAS 7 TeV dijet](https://ploughshare.web.cern.ch/ploughshare/db/applfast/applfast-atlas-dijets-appl-arxiv-1312.3524/applfast-atlas-dijets-appl-arxiv-1312.3524.tgz)
- [CMS 7 TeV dijet](https://ploughshare.web.cern.ch/ploughshare/db/applfast/applfast-cms-dijets-appl-arxiv-1212.6660/applfast-cms-dijets-appl-arxiv-12

[2022-08-01 08:56] cschwan opened #161 "Add support for APPLgrid conversion in `import`"
Added in commits 5941bf6dd4910c8dc996b2b6e92cbdad308d4172, af4047077da8686102f4f7defd7498fc9b5cb646, 42e4e16911b40e0c29986c6f715e525b12fcfc39, 052b077c530367d790b62664aa17e071fdaadae9 and cd854cbebe9826a41fbef20043f22b1c01c48253.

[2022-08-01 08:59] cschwan commented on #160
This depends on #161.

[2022-08-01 12:08] cschwan commented on #124
This really isn't the job of PineAPPL, we should use `R`, `numpy` or similar tools/libaries for that.

[2022-08-01 12:08] #124 closed

[2022-08-01 13:08] cschwan commented on #161
@AleCandido @felixhekhorn could you give this a try? Note the [installation instructions](https://n3pdf.github.io/pineappl/docs/installation.html#optional-applgrid-converter). This should work just as fine as the old converter, and even a bit faster because we no longer need to guess the `reweight` parameters thanks to commit 42e4e16911b40e0c29986c6f715e525b12fcfc39. Let me know if there's anythin

[2022-08-01 13:19] AleCandido commented on #161
I guess I need root...

This week I'm at conference, but I'll try to do it as soon as possible on `dom`, I guess there there might already be an installed instance of root.

[2022-08-01 13:20] AleCandido commented on #124
I guess we can just consider to expose more API to also modify the grid (at the moment is possible to cut bins, but I don't know about anything else).

[2022-08-01 13:30] cschwan commented on #161
`dom` has root!

[2022-08-01 13:33] cschwan commented on #161
The real advantage of these changes are that we no longer restricted to use our NNPDF-modified version of APPLgrid; we can use the most recent version of it and also upgrade it in the future. I checked that the entire <https://github.com/NNPDF/applgrids> repository converts, and it seems that it even supports the photon grids out of the box.

[2022-08-01 13:38] cschwan commented on #124
In the meantime we have `Grid::scale_by_bin`, but I'm not sure there's a Python wrapper yet.

[2022-08-01 14:18] cschwan commented on #160
With the new converters these work out of the box. Here's an example:

[code]

[code]

So they *do* contain the NNLO grids, but no scale-variation grids.

[2022-08-01 14:18] #160 closed

[2022-08-01 14:29] AleCandido commented on #160
I'm already happy with NNLO grids :D (finally we're getting closer to retire K-factors)

[2022-08-01 18:54] felixhekhorn commented on #161
Why do you need the `APPL_IGRID_DIR` variable? can't you expect it to be in `CPATH` (which I believe [should be the default c/c++ search path](https://gcc.gnu.org/onlinedocs/cpp/Environment-Variables.html) )? or in case you can't maybe the example should use `pkgconfig`? Otherwise people might be confused "where did I install it again" and if you consider experimentalists running this then the ins

[2022-08-01 19:01] felixhekhorn commented on #160
In principle they should be calculable from the previous orders, right? [as they are for DIS](https://yadism.readthedocs.io/en/latest/theory/scale-variations.html#factorization) (of course now everything more complicated due to two PDFs)

[2022-08-01 20:46] cschwan commented on #161
Instead of `APPL_IGRID_DIR` you can indeed also use `CPATH` (if your compiler supports it). You can't use `pkg-config` because APPLgrid doesn't support it and in any case this header isn't installed, it's part of the private interface (that's why it is in the `src` directory).

The NNPDF-modified APPLgrid solved the same problem by making all the private headers public, but in this way every versi

[2022-08-01 20:47] cschwan commented on #160
They should be, yes.

[2022-08-02 06:38] AleCandido commented on #160
Everything -> factorization scale variation (renormalization scale is the exact same).
I wonder if it is actually possible from the grid itself, since they are events and you don't have the full analytic structure (I'm only confident that you can do it giving the *analytic expression* of lower orders), but maybe it is possible.

[2022-08-02 07:06] AleCandido commented on #161
Ok, I see it is unpleasant, but I guess I agree with @cschwan at this point. You don't want to forever patch APPLgrid...
On the other side, if you are not the one that installed APPLgrid, most likely you're also not the guy that is going to make this non-minimal installation of PineAPPL as well.

[2022-08-02 10:33] cschwan commented on #160
@AleCandido let's talk here: https://github.com/N3PDF/pineappl/discussions/163.

[2022-08-17 08:38] cschwan commented on #161
If there's any problem with the importer please open a separate Issue.

[2022-08-17 08:38] #161 closed

[2022-08-17 20:51] scarlehoff opened #164 "Filling a grid with python results in always 0 due to `set_q2_min` not being available in python"
I don't understand why this would not work:

[code]

Could it be related to https://github.com/N3PDF/pineappl/pull/107#issuecomment-1035498740 ?

[2022-08-18 05:13] cschwan commented on #164
You set $Q^2 = 10$, but the [default minimum](https://docs.rs/pineappl/latest/src/pineappl/subgrid.rs.html#140) is $ Q^2 = 100 $. Raise this value and it'll be filled in.

[2022-08-18 07:49] scarlehoff commented on #164
How do I change the minimum with python?

Also, it is a bit confusing because the following does fill the grid (so the minimum has an effect only on fill?):

[code]

[2022-08-18 08:24] cschwan commented on #164
I'm not sure this method is available in Python, but try adding the following after creating `params` in your example at the top:

    params.set_q2_min(1.0)

If it's not available we should add it.

Exactly, only fill is affected (more accurately the subgrid parameters determine how the interpolation is done, which is `fill`'s job).

[2022-08-18 08:30] scarlehoff commented on #164
It is not.

I'll change the title of the issue to reflect the actual bug.

[2022-08-18 08:32] cschwan commented on #164
@AleCandido could you please add the corresponding methods?

[2022-08-18 12:25] cschwan opened #165 "Change representation of the luminosity function"
The current representation of the luminosity function, which is essentially the type [`LumiEntry`](https://docs.rs/pineappl/latest/pineappl/lumi/struct.LumiEntry.html), makes it very hard to convolute a grid for a single tuple of partons only, see also #150. We should:

- add a new method `Grid::lumis` that returns simply a `Vec`/`slice` of tuples `(a, b, factor, index)` with `a` and `b` being the

[2022-08-18 12:26] cschwan commented on #150
One way to implement this feature would be #165.

[2022-08-18 12:27] cschwan commented on #149
See also #165, this would simplify any querying/manipulation of the lumi function.

[2022-08-18 12:56] cschwan opened #166 "Add `Grid` slicing"
Sometimes we'd like to work with a slice of a `Grid`, which means a subset of the contained orders, luminosities and/or bins.

We can already do this using the `{order,bin,lumi}_mask` parameters of `Grid::convolute`, but we have to remember these parameters when calling other methods of `Grid`. Instead it would be useful to add a new method `Grid::slice`, passing it the desired orders, bins and lu

[2022-08-19 07:27] cschwan opened #168 "Add MSRV check to CI"
Following #159 we also need an MSRV check in the Rust workflow.

[2022-08-19 07:28] cschwan commented on #159
I'm closing this Issue, and further discussion can happen in #168.

[2022-08-19 07:28] #159 closed

[2022-08-19 08:32] cschwan opened #169 "Implement `Clone` for `Grid` and add `pineappl_grid_clone` to the C API"
This is needed to because `Grid::merge` takes ownership of the merged grid, which we might want to use after merging. With `Grid::clone` we can work around by cloning before merging.

[2022-08-25 14:38] #169 closed

[2022-08-27 11:47] cschwan opened #170 "Fix badge links on the website"
Commits 491cf2613cb48d3adfcc4831fea81260d351679d, 571c46367ffeaae055be5619d8ffff7d80e83868 and a36ce334a4bb62b3bc7b77a5c4e318f6d8cd8913 tried to make the link point to installation docs to markdown file if viewed on github and to the rendered markdown file if viewed on the website. Unfortunately, the latter doesn't work due to https://github.com/benbalter/jekyll-relative-links/issues/74.

[2022-08-27 13:17] AleCandido commented on #170
I wonder at this point if it's time to drop Ruby and just make a workflow with something else.

Jekyll is nice in GitHub Pages because it's there by default, and you have to do little to nothing to make it working. But it's not the most common choice for static site generators (SSG), and it's harder to find Ruby developers than JS or Python ones (so smaller community, and fewer ready-made solution

[2022-08-27 13:35] cschwan commented on #170
For me this bug isn't really a problem. What would you suggest to use instead of Jekyll?

[2022-08-27 15:01] AleCandido commented on #170
The most popular and reliable I believe to be [Next.js](https://nextjs.org/), another sensible choice in JS is [Docusaurus](https://docusaurus.io/). And just pick a reasonable ready-made theme (with the advantage that we can customize it, if needed).

But we can even avoid JS: being a Rust project in the first place why not [**mdBook**](https://github.com/rust-lang/mdBook) directly? The PineAPPL b

[2022-08-27 16:43] AleCandido commented on #166
I foresee ownership issues...

If you want to avoid data duplication, there should be a single owner, and multiple references around (one for each slice).
But then it would be complicated to have a mutable slice.

A possible solution might be to make the grid owning data through a reference counted [`Rc`](https://doc.rust-lang.org/std/rc/struct.Rc.html), and then make the slices own a [`Weak`](htt

[2022-08-27 16:50] AleCandido commented on #165
This would be nice, such that we'll be able to do:

[code]

[2022-08-27 17:02] AleCandido commented on #164
Yes, I'll do. It should take little :)

[2022-08-27 17:13] cschwan commented on #166
This won't be a problem, we'll have to model that similar to ndarray's [`ArrayBase::slice`](https://docs.rs/ndarray/latest/ndarray/struct.ArrayBase.html#method.slice) which uses explicit lifetime parameters. The Python interface will be more difficult, but in the first instance we can leave the API as is.

[2022-08-27 17:14] cschwan commented on #165
Exactly, that's the idea, it should become much simpler.

[2022-08-27 17:28] AleCandido commented on #166
Ok, I learnt myself that explicit lifetimes are difficult (easy to fall down a path with a dead-end). But the moment there is a working example, following it is definitely a sensible choice.

I'll leave it up to you, and the moment we the Rust implementation, we'll think about how to wrap it in Python, but I'm confident we'll find a suitable way to do it :)

[2022-08-30 15:46] cschwan opened #171 "Convert log grids in the importer"
I just realized that even if there are grids that enable us to vary the scales they aren't converted in the PineAPPL CLI importer. The changes needed should be minimal, but this should be done in a timely fashion, of course.

[2022-08-31 08:27] cschwan opened #172 "Generalize convolutions for both initial and final states"
This generalization will require the following changes:

- [x] add support for new scale(s): fragmentation function scale. Requires changing the order structure, which is related to <https://github.com/NNPDF/pineappl/issues/98>. This is being addressed in #299.
- [x] the PDF-PDF-FF case will require a generalization of the `SparseArray3` structure; we need `SparseArray4`, and then it's possibly be

[2022-08-31 08:46] cschwan commented on #172
The implementation might take a while :smile:. But I anticipate to introduce a new file format soon to accommodate a number of changes/simplications (see #118) and it would be ideal to know what changes roughly are required to support them in said file format.

[2022-08-31 20:02] cschwan opened #173 "Add support for normalized distributions"
Whenever we calculate the observables that aren't bilinear in PDFs, we can't reliably calculate the PDF uncertainties. Similar to the support of the asymmetry we should add support for normalized distributions.

[2022-09-01 08:02] cschwan opened #174 "Add support for different initial-state hadrons in the CLI"

[2022-09-01 10:29] AleCandido commented on #174
I don't know exactly what's your purpose, but in case you want to do it for comparisons (show two columns aside for the two PDFs), maybe you might consider to have **multiple** PDFs, instead of two (just a list of space separated IDs).

For sure, there are cases in which it might not be possible, but sometimes might be relatively simple to do it.

Just a suggestion :)

[2022-09-01 11:03] cschwan commented on #174
The idea is to support processes with different hadronic initial states, for instance proton-lead collisions, for which support in the CLI (and only there) is missing. Of course, eventually we'd like to generalize it to multiple 'PDFs', see here: https://github.com/N3PDF/pineappl/issues/172.

[2022-09-01 15:41] AleCandido commented on #174
Sorry, my bad. I just misunderstood the purpose of the issue.

[2022-09-01 17:02] cschwan commented on #174
No worries, it made me realize that the title is confusing!

[2022-09-05 14:25] cschwan opened #175 "Support APPLgrid conversion with combined bins"
The `pineappl` importer can't convert grids in which in which multiple bins are combined together.

[2022-09-07 22:06] cschwan commented on #45
Here's an update of the numbers from https://github.com/N3PDF/pineappl/issues/45#issuecomment-838720045, using the CLI `pineappl v0.5.5-19-gd924e9e` and converting https://github.com/NNPDF/applgrids/commit/89440895f95dc6747560f52a2860b69ed70e9b48:

- APPLgrids: 6214 MBytes (full repository without `.git` subfolder)
- PineAPPL grids: 3338 MBytes

That's a -46% reduction!

[2022-09-08 06:10] AleCandido commented on #45
Are you comparing with the `.pineappl` or `.pineappl.lz4`?
I'd just like to decouple PineAPPL optimization from lz4 compression :)

[2022-09-08 07:16] cschwan commented on #45
The PineAPPL grids are LZ4 compressed and as far as I understand the ROOT file format is ZLIB compressed[^1], so in that sense it's a fair comparison I think.

However, you might wonder how good or helpful the compression in PineAPPL's case is, so I added the number without compression in the comment above.

[^1]: <https://iopscience.iop.org/article/10.1088/1742-6596/898/7/072043>

[2022-09-08 07:22] AleCandido commented on #45
Ok, good. Then PineAPPL is already doing a great job on its own :D

Perfect, it was reasonable.

I wonder if there is a reason why LZ4 compression is doing so little. In some sense, that's a good sign on its own.
In `eko` it is changing a lot, because we are saving almost-triangular matrices in rectangular ones, with plenty of zeros - that is not the smartest choice for storage, but it was the bes

[2022-09-08 07:29] cschwan commented on #45
I think the reason is that the format is binary with already very small entropy (one `f64` is 8 bytes). Are you compressing text files/yaml? In that case the compression should work much better.

[2022-09-08 08:53] felixhekhorn commented on #45
In eko we're compressing [.npy](https://numpy.org/doc/stable/reference/generated/numpy.lib.format.html#module-numpy.lib.format)

we can - but this is a N3LO problem, I'd say

[2022-09-08 09:52] AleCandido commented on #45
N3LO is essentially now :)

[2022-09-09 12:59] cschwan commented on #171
This seems to be only missing for fastNLO tables.

[2022-09-09 14:33] cschwan commented on #151
@AleCandido @felixhekhorn I am working on this change; it will not decrease the file sizes, but I hope it will improve the performance of the evolution a bit. The price that we have to pay for this is that instead of having always the same x-grid everywhere - the usual 50 points - the grids return a *subset* of these 50 points. So while the x-grid points are still the same each process uses a diff

[2022-09-09 14:45] cschwan commented on #118
Technically we can have different file formats at the same time by versioning also the modules:
- `pineappl::v0::` would contain the old code
- `pineappl::v1::` would contain the new file format
- and so on should we need even more changes.
- in the module `pineappl` we can insert `pub use ...` statements to import the most recent file format.

`Grid::read` would be the only method that has access

[2022-09-09 15:01] felixhekhorn commented on #118
Since you want to guarantee backwards compatibility, you need to have both the old and the new code inside and also the converter (which could go in `v0` since it can be thrown away together) ... (just a style comment: you maybe want to scope them a bit more then just `pineappl`, because this sounds like the whole library changes - e.g. `pineappl::io` or similar?)

[2022-09-09 15:09] cschwan commented on #118
Yet another way (no idea how that would work) is to let the `pineappl` crate depend on an older version of itself, or separate that part into a different crate, for instance `pineappl-upgrade`.

[2022-09-09 15:09] felixhekhorn commented on #151
caching? the best we do at the moment is just the slice here (and that is on pid so unaffected): https://github.com/N3PDF/pineappl/blob/d924e9e41798c1f755849fd054938c05bbdb99c2/pineappl/src/grid.rs#L1740
afterwards we have the index remap, which would need to be shifted down to subgrid level as far as I understand
https://github.com/N3PDF/pineappl/blob/d924e9e41798c1f755849fd054938c05bbdb99c2/pine

[2022-09-09 15:22] cschwan commented on #151
Sorry, I meant caching of the EKOs in pineko or probably somewhere higher. It might be a problem that every grid we'd like then has a different x-grid (well, technically a subset as I said).

[2022-09-09 18:36] AleCandido commented on #151
Of course we can do, if needed (that's why we implemented in the first place). But I'd try to avoid re-interpolating as much as possible...

[2022-09-09 18:47] AleCandido commented on #118
Personally, I don't care so much about splitting crates. But if the other is not obviously the good choice, I'd stick with one for simplicity.

The one about the older version is potentially a mess.
I've read in the Go ecosystem an advise for new major releases, that was to create a completely new module (in this case a new crate), and depend on the old one.
Unfortunately, there is simpler, becaus

[2022-09-10 06:15] cschwan commented on #151
This won't change.

That's the case, you should be able to feed the same set of EKOs to `Grid::convolute_eko`, and it'll select the necessary subset. But `Grid::eko_info` will return a smaller set of x-grid points, and I wonder whether higher up the toolchain this will lead to regeneration of many subsets of EKOs of the original 50x50 again and again for the newly implemented datasets with the imp

[2022-09-10 06:18] cschwan commented on #118
I think I'll first go with `v0` and `v1` modules, and after some time we might decide split off the `v0` part into a separate crate.

[2022-09-10 07:05] AleCandido commented on #151
Point is that if you are going to use a smaller set of points, the interpolation basis is different, and thus also the interpolation coefficients (you have to account also for the missing part). So re-interpolation is needed (though for a subset is for sure advantageous).

As @felixhekhorn said: if it's not already the case, we'll make sure that a new EKO won't be recomputed (unless strictly neede

[2022-09-11 09:51] AleCandido commented on #164
Ok, cab1505cb6233cb64caf7cecc54be2372fe1b0d0 should introduce all the methods to set $Q^2$ related parameters.

Unfortunately, it is hard to test, because we are lacking all the getters for `SubgridParams`. What I did is just running the snippets above (that I'm now going to include in the unit tests), and the results is consistent:
[code]

[2022-09-11 09:56] AleCandido commented on #164
So, if you confirm the above result, in principle we could even close this issue.

But: what about the getters?

What is worth is that there is also no getter for the `subgrid_params` attribute of the `Grid` object.
So, given a `Grid`, you can not:
1. inspect what parameters have been set
2. change the parameters of the subgrid

While the second one is almost a feature I'd like to preserve, the fi

[2022-09-13 13:13] AleCandido commented on #164
In the commit above I added also the unit test, so for me this can be closed @cschwan

What do we want to do about getters? @cschwan @scarlehoff

[2022-09-13 13:29] cschwan commented on #164
We should also add getter, although I'm going to change this structure in the future to have public fields, because the getters and setters are all trivial. I'm not certain how this would be done in Python though.

[2022-09-13 13:43] AleCandido commented on #164
I believe they will propagate as attributes. Even though maybe is not completely trivial https://pyo3.rs/v0.17.1/class.html#object-properties.

Unless you're going to use `pub(crate)`. In which case I believe is not going to happen, since `pineappl_py` *is* another crate, so I won't be able to access them.

[2022-09-13 13:57] cschwan commented on #164
I'm thinking of `pub`, actually, and then we'd probably need <https://pyo3.rs/v0.17.1/class.html#object-properties-using-getter-and-setter>.

[2022-09-13 14:03] AleCandido commented on #164
That's for sure an option.

I would have liked more the more intrinsic [`#[pyo3(get, set)]`](https://pyo3.rs/v0.17.1/class.html#object-properties-using-pyo3get-set), but I believe that with our layout is rather complicated.
We just have a wrapper, and I do not want to mirror the `struct` to a new one with the same fields...

[2022-09-13 14:09] cschwan commented on #164
Exactly, that's the problem I see.

[2022-09-16 09:40] cschwan commented on #129
We might have discovered an easier option: https://github.com/N3PDF/pineappl/pull/176. And here's yet another option: <https://rust-cli.github.io/book/tutorial/packaging.html#distributing-binaries>.

[2022-09-16 13:21] alecandido opened #177 "Python Distribution"
Follow up of #176

- [ ] prepare CI for release
- [ ] add [dependency](https://github.com/N3PDF/pineappl/pull/176#issuecomment-1249179607) on this new package in the `pineappl` Python package

The overall idea is to build everything in the CI, and supplement the current default PineAPPL package with CLI installation.

This partly address #129, since a quick binary installation will be available th

[2022-09-18 09:09] cschwan commented on #175
This is mostly likely not a problem with the converter, but rather a problem when merging the converted subgrids together or even a problem when convoluting the subgrid results.

[2022-09-21 13:39] felixhekhorn opened #180 "Add pre-commit?"
How about activating [pre-commit](https://pre-commit.com/) here? e.g. [this repo](https://github.com/doublify/pre-commit-rust/blob/master/.pre-commit-hooks.yaml) provides `fmt`, `check` and  `clippy`

[2022-09-21 13:49] felixhekhorn commented on #180
I think we would only need to update if `cargo` would change, which is highly unlikely - in any case the hooks are very simple so we could even fork and maintain them ...

[2022-09-23 10:22] cschwan commented on #180
I agree that using a git hook is potentially a good idea. Right now we only write what people should do in [`CONTRIBUTING.md`](https://github.com/N3PDF/pineappl/blob/master/CONTRIBUTING.md), with hooks we could automate/enforce it. However, it seems that [pre-commit](https://pre-commit.com/) is mostly tailored towards Python and probably a bit too much for what we need; let's talk about that first

[2022-09-23 10:32] AleCandido commented on #180
You are definitely right that `pre-commit` is coming from Python ecosystem, but in a sense is only the driver. Could have been written in shell or perl, and it was the same.

The main argument in favor of `pre-commit` is that simplifies a set of operations, and provide useful hooks out of the box. The main con is that it is definitely "non-minimal".

The minimal solution would be `.githooks/`, but

[2022-09-24 10:12] cschwan commented on #152
@andreab1997 @AleCandido @felixhekhorn I would like to work on this Issue in the coming weeks, and probably also on #122, which is connected. To do that I need to know a few things:

1. what's the dataset with the smallest EKO and how big is it?
2. what's the dataset with the largest EKO and how big is it (I suppose it's dijet/single-inclusive  jets)?
3. which EKO should I use to optimize the evol

[2022-09-26 09:03] felixhekhorn commented on #152
I guess that should be a positivity grid, since it has a single Q2 and it has even a small number of bins (the number of bins is irrelevant for EKO, but not for `convolute_eko`). The single example I have is 400kb - maybe @andreab1997 can confirm?

yes, I guess jets are the biggest, since they involve a huge number of Q2s. There a single bin has 1.8-3.1MB and CMS_1JET_8TEV has 239 bins. Remember t

[2022-09-26 10:43] andreab1997 commented on #152
Yes, I believe that the positivity should be the smallest too.

I usually use DIS grids to test so I agree that HERA would be a sensible choice.

[2022-09-27 00:22] AleCandido commented on #152
Another relevant small example (with DY kinematics) should be the total inclusive cross section, with a single bin (but I don't remember if it has a dynamic scale or not.

[2022-09-29 15:21] cschwan commented on #122
@andreab1997 @AleCandido @felixhekhorn I'm now working on this and using <https://github.com/NNPDF/fktables/issues/32#issuecomment-1261956144> as a test case. By the way, the crate [ndarray_npy](https://docs.rs/ndarray-npy/latest/ndarray_npy/) is very handy to load the EKO.

[2022-09-29 17:47] AleCandido commented on #122
Good to know, it is one of those we considered for the Rust loader https://github.com/N3PDF/eko/issues/97

[2022-10-04 10:19] alecandido opened #183 "Release workflow for binaries"
Since we considered distributing CLI binaries in #176, and of course they will be for a specific platform, I believe we can provide a partial solution to #129, just with a releasing workflow (like `wheels.yml`, but for Rust).

I believe I can provide quickly a first draft, and I will try in a while. I'm writing this issue just to collect some info.

### Workflow

We can copy an already working one

[2022-10-04 10:19] AleCandido commented on #183
Essentially, I just found an old note, and pasted here with a little context...

[2022-10-04 10:21] AleCandido commented on #129
Second part of the note referred in #183, but it is relevant here:

### Installation script

While for Windows I don't care the less (people that uses Windows might want to
use the respective binary manually, and otherwise use `cargo install`), for
Linux (and MacOS if working the same way) we might host on the website (i.e.
https://n3pdf.github.io/pineappl) an install script (e.g.
https://n3pdf.gi

[2022-10-10 14:38] felixhekhorn opened #185 "Jet-interpolation-grid evolution issues"
In order to convolute jets we need to adjust the EKO side since we're limited by memory there (discussed in https://github.com/NNPDF/eko/issues/138 and related issues/PRs)

I wonder, whether we're also limited by memory here, even with the new layout developed in #184. The actual size of the ekos is

[code]

An easy solution, if we're limited, would be just to add a `bin_mask` argument to  `Grid::

[2022-10-10 14:40] AleCandido commented on #185
Have you tried to optimize the grid? Or is it that big after optimization?

[2022-10-10 14:41] felixhekhorn commented on #185
it's the size of the ekos (which actually is not clear from the command line)

[2022-10-10 14:46] AleCandido commented on #185
But if that is the full  EKO for `bin00`, remember that there is the dynamic scale inside the bin. So, with the new output each individual operator (for each $\mu^2$ value) might be reasonable enough :)

[2022-10-10 14:48] cschwan commented on #185
If you tell how I should change these lines,

https://github.com/NNPDF/pineappl/pull/184/files#diff-7b7287991850a10d433203bd3a81118ecea8c293bfa5f3fde86451fe49eead99R2644-R2651

I can try it!

[2022-10-10 14:49] felixhekhorn commented on #185
exactly! they are ~2MB each - but this improve data structure can not be exposed to `Grid::evolve`

[2022-10-10 14:52] felixhekhorn commented on #185
actually, how big is that eko? the problem I can see is passing around 500MB of data (and at some point we may have the double I guess, because Rust will copy from Python, I guess?)

[2022-10-10 14:54] AleCandido commented on #185
Why not? Maybe not yet.

The final step of the new format was providing a Rust API to load it https://github.com/NNPDF/eko/issues/97, and it should take too much (i.e. I believe I can take care of in a short time).

Since @cschwan already loaded successfully a Numpy array, I only need to unpack the tarball and do the same for the relevant operator.

[2022-10-10 14:54] felixhekhorn commented on #185
just to say that at some point we were actually thinking about exposing this data struture https://github.com/NNPDF/eko/issues/97 but this is for sure mid-/long-term and not a short term solution to do https://github.com/NNPDF/fktables/issues/32

[2022-10-10 14:55] AleCandido commented on #185
I thought actually that to be the short term one: the bottle-neck is the computation of EKO in the new format, not reading it :)

[2022-10-13 12:18] felixhekhorn commented on #21
I need to prevent this issue to become stale ... and keep hoping ...

[2022-10-13 12:27] cschwan commented on #172
@enocera: which of the following scenarios do you see to be relevant in the future:

1. lepton-hadron collisions with one fragmentation function,
2. lepton-hadron collisions with two fragmentation functions,
3. hadron-hadron collisions with one fragmentation function,
4. hadron-hadron collisions with two fragmentation functions?

Basically my questions is: how many 'convolutions' (with PDFs and/or

[2022-10-13 12:36] AleCandido commented on #172
I guess there is also SIA case, i.e. "lepton-lepton collisions with *".

[2022-10-13 12:39] cschwan commented on #172
What does SIA stand for?

[2022-10-14 10:51] cschwan commented on #185
Could you provide me with a jet-EKO? I'd really like to test it.

[2022-10-17 13:31] cschwan commented on #185
You can also try it yourself now, @felixhekhorn: in #184 I added a new subcommand `evolve` which should understand the EKO format:

    pineappl evolve grid.pineappl.lz4 eko.tar fktable.lz4 PDFset

which evolves `grid.pineappl.lz4` using `eko.tar` to produce `fktable.lz4` and perform a check using `PDFset`.

[2022-10-17 14:18] AleCandido commented on #185
Sorry for the no reply: problem is that we don't have. In order to evolve them, @felixhekhorn did the trick of splitting the grid by bin, evolve individually, and finally merge the FkTable.

This will be solved by the usual NNPDF/eko#138...

[2022-10-17 14:20] AleCandido commented on #185
I saw: I believe we will always use the Python API through `pineko`.
But it is useful for quick checks, and it is also for external users: they may want FkTables, but `pineko` can still be to rigid for them :)

[2022-10-17 14:23] cschwan commented on #185
That's exactly the idea. Pineko does much more than just evolve, of course.

[2022-10-19 14:04] #126 closed

[2022-10-21 14:23] #122 closed

[2022-10-21 14:23] #152 closed

[2022-11-09 15:30] cschwan opened #188 "Provide CLI subcommands to determine if a grid is also an FK table"
Right now it's not possible to figure out if a grid is also an [FK table](https://github.com/NNPDF/pineappl/blob/master/pineappl/src/fk_table.rs#L349-L436).

[2022-11-09 15:39] AleCandido commented on #188
Indeed, this is what I was thinking about. However, at the moment for a grid I obtain:
[code]
while for an FkTable I get:
[code]

It is true that for grids the output can be quite different, but FkTables are always giving that output, and no actual grid will have no dependency on $\alpha$/$\alpha_s$. So it is a clear signature.

However, a dedicated command might be more user friendly, since in th

[2022-11-09 15:40] cschwan commented on #188
That's the idea!

[2022-11-09 15:42] cschwan commented on #188
That's unfortunately not true, if you convert a DY LO APPLgrid, for instance, without explicitly giving the coupling order it will look like an FK table by that definition (but it is not).

[2022-11-09 15:43] AleCandido commented on #188
Candidates:
- `fkcheck` printing `true` or `false` and giving 0 error code for true, !=0 for false
- `kind`, printing `grid` or `fktable`

[2022-11-09 16:01] AleCandido commented on #188
Also PineAPPL grids you can name as you wish, but you have been successful in promoting the `.pineappl.lz4`. It is also nice to have them clearly recognizable from the file name, even though it is a disjoint thing from the checking command (since a name is directly there, but can lie)

[2022-11-10 09:47] cschwan commented on #118
The stackoverflow answer describes how to do it: <https://stackoverflow.com/a/58739076/812178>. That seems pretty straightforward.

[2022-11-10 10:23] AleCandido commented on #118
Consider that, going this way, you might have to maintain also the older version, in case of bugs preventing some kind of applications.
It is possible, but not the easiest, for a project with a restricted number of maintainers.

In my opinion, I would try to keep the version management straight, and just increase with new dependencies. Thus, I'm more in favor of `pineappl::v0`, `pineappl::v1`... (

[2022-11-10 10:42] cschwan commented on #118
@AleCandido those two ideas aren't exclusive. You'd write

[code]

in `pineappl/src/lib.rs` and in `pineappl/Cargo.toml`:

[code]

In this way we'd preserve an older version in `pineappl::v0`, while the newer version would be in `pineappl`. The main difference to explicitly keeping the old copy in `pineappl/src/v0/...` is that we can't modifiy the old source, but I think this is an advantage. With